<style>
    .penis{
        margin: 0 auto;
        margin-bottom: 20px;
        display: block;
        width:75%;
    }
    .plyr__video-wrapper{
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        user-select: none;          /* Likely future */
    }

    .hljs-line-numbers {
        text-align: right;
        border-right: 1px solid #ccc;
        color: #999;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    pre.code{
        background:white;
        max-height:419px;
        font-family: consolas;
        padding: 0px;
        border-radius: 0px;
    }

    pre>code{
        padding-top: 6px;
        display: grid;
        padding-left: 16px;
    }

	.hljs-line-numbers {
			text-align: right;
			border-right: 1px solid #ccc;
			color: #999;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
</style>
<div id="viewer">

</div>

<script>
    $(document).ready(function(){
        var relay_url = "{{ url_for("relay", parsed={}) }}{{ f.path_file }}";
        $.get(relay_url, function(data){
            $("#viewer").html(`
                <div class="viewer document">
                    <pre class="code"><code></code></pre>
                </div>
            `);

            $("code").html(data);
            $('pre code').each(function(i, e) {hljs.lineNumbersBlock(e)});
        });


    });
</script>