{% macro render_field(field) %}
    <div class="form-group">
        <label class="col-md-4 control-label" for="locale">{{ field.label }}</label>
        <div class="col-md-4">
            {{ field(class_='form-control', **kwargs)|safe }}
        </div>

        {% if field.errors %}
            <ul class=errors>
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endmacro %}

<h3>Localization</h3>
<form class="form-horizontal">
    <fieldset>
        {{ render_field(form.language) }}
    </fieldset>
</form>

<script>
    $(document).ready(function() {
        function test(data){
            Object.keys(data).forEach(function(key) {
                $('#locale').prepend(`<option value=${key}>${data[key]}</option>`);
            });
        }

        FindexApi('user/locale/all', 'GET', null, test);
    });
</script>