gevent
flask
flask-wtf
flask-sqlalchemy
flask-auth==0.85
flask-restful
psycopg2
sqlalchemy
sqlalchemy-utils
sqlalchemy-zdb>=0.1.0
jinja2
furl
flask-babel
parse-torrent-name==1.1.1
humanfriendly
IPy
pysocks
python-magic
requests