{#<script src="{{ url_for("static", filename="themes/bucket/static/js/bucket.js") }}"></script>#}
{#<link href="{{ url_for("static", filename="css/findex.css") }}" rel="stylesheet">#}

<!-- jQuery -->
<script src="{{ url_for("static", filename="js/jquery.min.js") }}"></script>

<!-- jQuery UI -->
<link rel="stylesheet" href="{{ url_for("static", filename="css/jquery-ui.min.css") }}">
<script src="{{ url_for("static", filename="js/jquery-ui.min.js") }}"></script>

<!-- Bootstrap -->
<link href="{{ url_for("static", filename="js/bootstrap.min.js") }}" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">

<!-- FontAwesome -->
<link href="{{ url_for("static", filename="css/font-awesome.min.css") }}" rel="stylesheet" type="text/css">

<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Oxygen:400,700' rel='stylesheet' type='text/css'>

<!-- Ionicons -->
<link rel="stylesheet" href="{{ url_for("static", filename="css/ionicons.min.css") }}">
<!-- Theme style -->
<link rel="stylesheet" href="{{ url_for("static", filename="themes/_admin/static/css/AdminLTE.css") }}">
<link rel="stylesheet" href="{{ url_for("static", filename="themes/_admin/static/css/skin-black-light.css") }}">

<!-- iCheck -->
<link rel="stylesheet" href="{{ url_for("static", filename="plugins/iCheck/flat/blue.css") }}">

<!-- Date Picker -->
<link rel="stylesheet" href="{{ url_for("static", filename="plugins/datepicker/datepicker3.css") }}">

<!-- Daterange picker -->
<link rel="stylesheet" href="{{ url_for("static", filename="plugins/daterangepicker/daterangepicker-bs3.css") }}">

<!-- html5 editor -->
<link rel="stylesheet" href="{{ url_for("static", filename="plugins/wysihtml5/bootstrap3-wysihtml5.min.css") }}">
<script src="{{ url_for("static", filename="plugins/wysihtml5/bootstrap3-wysihtml5.all.min.js") }}"></script>

<link rel="stylesheet" href="{{ url_for("static", filename="themes/_admin/static/css/admin.css") }}">

<script src="{{ url_for("static", filename="themes/_admin/static/js/app.js") }}"></script>
<script src="{{ url_for("static", filename="themes/_admin/static/js/admin.js") }}"></script>
<script src="{{ url_for("static", filename="js/findex/findex_table.js") }}"></script>
<link rel="stylesheet" href="{{ url_for("static", filename="css/findex_table.css") }}">

<script src="{{ url_for("static", filename="js/findex/app.js") }}"></script>
<script src="{{ url_for("static", filename="js/findex/findex_core.js") }}"></script>
<script src="{{ url_for("static", filename="js/findex/resources.js") }}"></script>

<style type="text/css">
#icheckForm .radio label, #icheckForm .checkbox label {
    padding-left: 0;
}
</style>
<script>var APPLICATION_ROOT = "{{ config["APPLICATION_ROOT"] }}";</script>
