    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Findex</title>
    <!-- whip out the javascript bloat -->

    <link href="{{ url_for("static", filename="css/bootstrap.min.css") }}" rel="stylesheet">
    <script src="{{ url_for("static", filename="js/jquery.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/jquery.ba-throttle-debounce.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/jquery-ui.min.js") }}"></script>

    <!-- jQuery dropdown enhancement -->
    <script src="{{ url_for("static", filename="js/dropdowns-enhancement.js") }}"></script>
    <link href="{{ url_for("static", filename="css/dropdowns-enhancement.min.css") }}" rel="stylesheet" type="text/css">

    <!-- nouislider -->
    <script src="{{ url_for("static", filename="js/nouislider.js") }}"></script>
    <link href="{{ url_for("static", filename="css/nouislider.min.css") }}" rel="stylesheet" type="text/css">

    <!-- FileSize -->
    <script src="{{ url_for("static", filename="js/filesize.min.js") }}"></script>

    <!-- jQuery Tags Input -->
    <script src="{{ url_for("static", filename="js/jquery.tagsinput.min.js") }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/jquery.tagsinput.css") }}">

    <!-- jQuery highlight -->
    <script src="{{ url_for("static", filename="js/jquery.highlight.js") }}"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href="{{ url_for("static", filename="css/jquery-ui-bootstrap/jquery-ui-1.10.0.custom.css") }}" rel="stylesheet" type="text/css">

    <!-- FontAwesome -->
    <link href="{{ url_for("static", filename="css/font-awesome.min.css") }}" rel="stylesheet" type="text/css">

    <!-- DataTables -->
    <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    <!-- Tooltipster -->
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/tooltipster.bundle.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/tooltipster-sideTip-light.min.css") }}" />
    <script type="text/javascript" src="{{ url_for("static", filename="js/tooltipster.bundle.js") }}"></script>

    <!-- Plyr video player -->
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="plugins/plyr/plyr.css") }}" />
    <script type="text/javascript" src="{{ url_for("static", filename="plugins/plyr/plyr.js") }}"></script>

    <!-- highlight.js -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
	<script type="text/javascript" src="{{ url_for("static", filename="js/highlight.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/highlightjs-line-numbers.js") }}"></script>

    <!-- selectize -->
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/selectivity-jquery.css") }}" />
    <script type="text/javascript" src="{{ url_for("static", filename="js/selectivity-jquery.js") }}"></script>

    <!-- Findex -->
    <script src="{{ url_for("static", filename="js/findex/findex_core.js") }}"></script>
    <script src="{{ url_for("static", filename="js/findex/app.js") }}"></script>
    <script src="{{ url_for("static", filename="js/findex/resources.js") }}"></script>
    <script src="{{ url_for("static", filename="js/findex/user.js") }}"></script>
    <script src="{{ url_for("static", filename="themes/bucket/static/js/bucket.js") }}"></script>
    <link href="{{ url_for("static", filename="css/findex.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="themes/bucket/static/css/bucket.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="themes/bucket/static/css/browse.css") }}" rel="stylesheet">

    <!-- Fonts -->
    {% include 'bucket/templates/helpers/fonts.html' %}
