{% extends "bucket/templates/main/user_cp/_base.html" %}

{% block options %}
{% macro render_field(field, label_visible=true) -%}
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if field.type == "BooleanField" %}
            <div class="checkbox">
                <label>
                    {{ field(class_='form-control', **kwargs) }}
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    {{ field.label }}
                </label>
            </div>
        {% else %}
            {% if (field.type != 'HiddenField' and field.type !='CSRFTokenField') and label_visible %}
                <label for="{{ field.id }}" class="control-label">{{ field.label }}
                    <i data-tooltip-content="#tooltip_{{ field.id }}" data-tooltip-id="{{ field.id }}" class="fa fa-info-circle tooltip_item"></i>
                </label>
            {% endif %}

            {{ field(class_='form-control', **kwargs) }}

            {% if field.errors %}
                {% for e in field.errors %}
                    <p class="help-block">{{ e }}</p>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
{%- endmacro %}

<style>
    .tooltipster-box>.tooltipster-content>span>ul.list-group{
        margin-bottom:0px !important;
    }
</style>

<div class="tooltip_templates">
    <span id="tooltip_server_address">
        The location to the service you want to add. Can be a <u>hostname or address</u>. Use the 'validate service(s)' to validate this service.
        <div style="margin-left:20px;margin-top:10px;">
            <b>HTTP(s):</b>
            <h4><span style="margin-left:20px;margin-top:6px;" class="label label-default">example.org</span></h4>
            <br>
            <b>FTP:</b><h4>
            <span style="margin-left:20px;margin-top:6px;" class="label label-default">192.168.1.52</span></h4>
        </div>
        <br>
        <ul class="list-group">
            <li class="list-group-item">
                Must <b>_NOT_</b> start with a scheme (<b>http://, https://, ftp://, smb://</b>, etc)
            </li>
        </ul>
    </span>
    <span id="tooltip_resource_port">
        Must be a valid port number <b>*surprise*</b>
    </span>
    <span id="tooltip_resource_protocol">
        https://en.wikipedia.org/wiki/Internet_Protocol
    </span>
    <span id="tooltip_basepath">
        The directory at which to start crawling from. This will become the root directory in the Findex file browser.
        <div style="margin-left:20px;margin-top:10px;">
            <b>Example:</b>
            <h4><span style="margin-left:20px;margin-top:6px;" class="label label-default">/media/movies/</span></h4>
        </div>
        <br>
        <ul class="list-group">
            <li class="list-group-item">
                Unix like paths (forward-slashes) that end with a slash are required.
            </li>
        </ul>
    </span>
    <span id="tooltip_auth_type">
        <p>
        May stay on default, unless you require a specific type of authentication for the currently selected protocol.
        </p>
        <p>
            For example, if you have picked <span class="label label-default">HTTP</span> as the protocol and filled in
            authentication credentials, <span class="label label-default">HTTP BASIC</span> will be used by default, unless you specify otherwise.
        </p>
    </span>
    <span id="tooltip_display_url">
        url prefix as it will be shown on the front-end.
    </span>
    <span id="tooltip_auth_user">
        The username to authenticate with.
    </span>
    <span id="tooltip_auth_pass">
        The password to authenticate with.
    </span>
    <span id="tooltip_web_user_agent">
        The string to identify ourselves with against the service.
    </span>
    <span id="tooltip_throttle_connections">
        Wait <span class="label label-default">X</span> seconds between each request/connection.
    </span>
</div>

<script>
$(document).ready(function(){
    $('.tooltip_item').tooltipster({
        theme: 'tooltipster-light',
        contentCloning: true
    });
});
</script>

<div class="panel-body form-horizontal">
    <div style="color:#bf0000;" id="errors"></div>
    <div class="row">
        <div class="col-md-4">
            <h4>Add Service</h4>
            <hr>
            <form id="form1" class="form" role="form">
                {{ render_field(form.server_address) }}
                {{ render_field(form.resource_port) }}
                {{ render_field(form.resource_protocol) }}
                {{ render_field(form.basepath) }}
                {{ render_field(form.display_url) }}
                {{ render_field(form.auth_type) }}
                {{ render_field(form.auth_user) }}
                {{ render_field(form.auth_pass) }}
            </form>
        </div>
        <div class="col-md-4">
            <h4>Add mulitple</h4>
            <hr>
            <form class="form" role="form">
                <div class="form-group">
                    <label for="multiple" class="control-label">One per line</label>
                    <textarea disabled id="multiple" name="multiple" style="resize:none" rows="10" class="form-control" rows="3"></textarea>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h4>Options</h4>
            <hr>
            <form id="form3" class="form" role="form">
                {{ render_field(form.web_user_agent) }}
                {{ render_field(form.throttle_connections) }}
                {{ render_field(form.recursive_sizes) }}
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group pull-right">
                <input type="submit" name="Signup" value="validate service" class="btn btn-primary btn btn" id="_">
                <input type="submit" name="Signup" value="Submit service(s)" class="btn btn-primary btn btn-info" id="btn_submit">
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        var resource_table = $('#resource_table').DataTable();
        var user_id = {{ user.id }};

        function _resource_table_callback(data){
            if(!data.hasOwnProperty("data")){
                return;
            }

            data.data.forEach(function(obj, i){
                let address = `${obj['server']['address']}:${obj['port']}`;
                resource_table.row.add(
                    [obj.server.name, address, obj.basepath, obj.protocol_human, obj.group.name]
                ).draw(false);
            });
        }

        $("#btn_submit").click(function(){
            let form1 = $("#form1").serializeObject();
            let form2 = $("#form3").serializeObject();

            let data = Object.assign(form1, form2);
            Resources.resource_add(data).then(function(data){
                goto_uri(url_for(`user/cp/services`));
            }, function(err){
                $("#errors").html(err.responseText);
            });
        });
    });
</script>

{% endblock %}
