{% macro rating(num) %}
    {% set base = num/10*5 %}
    {% set r = base|round(0, 'floor') %}
    {% set l = (base - r)|round(1) %}
    {% for i in range(1, 6) %}
        {% if i <= base %}
            <i class="glyphicon glyphicon-star"></i>
        {% else %}
            {% if l >= 0.5 and loop.index == 4 %}
                <i class="glyphicon glyphicon-star half"></i>
            {% else %}
                <i class="glyphicon glyphicon-star-empty"></i>
            {% endif %}
        {% endif %}

    {% endfor %}
{% endmacro %}

{% macro actors_link(actors) %}
    {% for name in actors %}
        <a target="_blank" href="{{ application_root }}meta/popcorn/cast/{{ name }}">{{ name }}</a>,
    {% endfor %}
{% endmacro %}