{% extends "bucket/templates/base.html" %}
{% block content %}
    <script src="{{ url_for("static", filename="js/findex/search.js") }}"></script>
    {% import 'bucket/templates/main/meta/_macros.html' as macros %}

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div id="popcorn" class="container-fluid" style="max-width: 1400px;">
            <div class="row">
                <div class="filters col-md-10 col-md-offset-1">
                    <div class="row no-padding">
                        <div class="col-md-4 beetje-padding">
                            <input disabled id="movie_title" placeholder="Movie Title" name="movie_title" class="txtinput">
                        </div>
                        <div class="col-md-2 beetje-padding">
                            <input id="year" placeholder="Year" name="year" class="txtinput">
                        </div>
                        <div class="col-md-2 beetje-padding">
                            <input id="min_rating" placeholder="Min. Rating" name="min_rating" class="txtinput">
                        </div>
                        <div class="col-md-4 beetje-padding">
                            <div id="cast" class="selectivity-input example-input"></div>
                        </div>
                    </div>
                    <div class="row no-padding">
                        <div class="col-md-4 beetje-padding">
                            <div id="genres" class="selectivity-input example-input"></div>
                        </div>
                        <div class="col-md-3 beetje-padding">
                            <div id="director" class="selectivity-input example-input"></div>
                        </div>
                    </div>
                    <div class="row no-padding">
                        <div class="col-md-2 col-md-offset-5">
                            <div class="form-group" style="display:inline;">
                                <button type="submit" id="submit_search" class="btn btn-primary btn-md">Search</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="results col-md-10 col-md-offset-1">
                    <div class="row">
                        {% if not results %}
                            <p>
                                No results!
                            </p>
                        {% endif %}
                        {% for result in results %}
                        <div class="col-md-4 no-padding">
                            <div class="panel panel-default">
                                <div class="panel-heading">{{ result.meta_imdb.title }} ({{ result.meta_imdb.year }})
                                    <a target="_blank" class="pull-right" href="{{ application_root }}search/{{ result.meta_imdb.title }}&cats=[movies]">
                                        <button type="submit" class="btn btn-info btn-sm" >
                                            <i class="fa fa-search fa-fw"></i> Link
                                        </button>
                                    </a>
                                </div>
                                <div class="panel-body">
                                    <p>
                                        {% set plot = result.meta_imdb.plot[:result.meta_imdb.plot.find("BY:")] %}
                                        {{ plot[:500] }}
                                        {% if plot|length > 500 %}
                                             [...]
                                        {% endif %}
                                    </p>
                                    <p>
                                        Director:
                                        <a href="{{ application_root }}meta/popcorn/director/{{ result.meta_imdb.director }}">{{ result.meta_imdb.director }}</a><br>
                                        Actors:
                                        {{ macros.actors_link(result.meta_imdb.actors) }}
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    <div class="rating">
                                        {{ macros.rating(result.meta_imdb.rating/10) }}
                                        <div class="pull-right">
                                            {{ result.meta_imdb.rating/10 }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if loop.index % 3 == 0 %}
                            </div>
                            <div class="row">
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    $(document).ready(function(){
        $('#director').selectivity({
            multiple: true,
            placeholder: "Director",
            ajax: {
                url: function(term, offset){
                    return `${APPLICATION_ROOT}api/v2/meta/imdb/director/search/${term.term}`;
                },
                minimumInputLength: 3,
                quietMillis: 250,
                fetch: function(url, init, queryOptions) {
                    return $.ajax(url).then(function(data) {
                        return {
                            results: $.map(data.items, function(item) {
                                return {
                                    text: item.director,
                                    id: item.id
                                };
                            })
                        };
                    });
                }
            }
        });

        $('#cast').selectivity({
            multiple: true,
            placeholder: "Cast",
            ajax: {
                url: function(term, offset){
                    return `${APPLICATION_ROOT}api/v2/meta/imdb/actor/search/${term.term}`;
                },
                minimumInputLength: 3,
                quietMillis: 250,
                fetch: function(url, init, queryOptions) {
                    return $.ajax(url).then(function(data) {
                        console.log(data);
                        return {
                            results: $.map(data.items, function(item) {
                                return {
                                    text: item.actor,
                                    id: item.id
                                };
                            })
                        };
                    });
                }
            }
        });

        $('#genres').selectivity({
            items: [
                "Family",
                "Music",
                "Documentary",
                "Fantasy",
                "Animation",
                "Sci-Fi",
                "War",
                "Biography",
                "History",
                "Mystery",
                "Adventure",
                "Adult",
                "Short",
                "Thriller",
                "News",
                "Musical",
                "Drama",
                "Comedy",
                "Western",
                "Horror",
                "Romance",
                "Action",
                "Crime",
                "Sport"
            ],
            multiple: true,
            placeholder: 'Select Genre'
        });

        $('.selectivity-input').change(function(){
            var a = $(this).find(".selectivity-multiple-selected-item");
            if(a.length == 1){
                $(this).find(".selectivity-multiple-input-container").css("padding-top", 2)
            } else {
                $(this).find(".selectivity-multiple-input-container").css("padding-top", 9)
            }
        });

        let args = window.location.pathname.split("/").slice(-1)[0];
        args = Search.get_urlbar_items(args, false);

        if(args.hasOwnProperty("year")){
            $("#year").val(args["year"]);
        }

        if(args.hasOwnProperty("genres")){
            if(args["genres"].length > 0){
                $("#genres").selectivity('value', args["genres"]);
            }
        }

        if(args.hasOwnProperty("director")){
            $("#director").selectivity('value', [args["director"]])
        }

        if(args.hasOwnProperty("actors")){
            if(args["actors"].length > 0) {
                $("#cast").selectivity('value', args["actors"])
            }
        }

        if(args.hasOwnProperty("min_rating")) {
            $("#min_rating").val(args["min_rating"]);
        }

        $("#submit_search").click(function(){
            function get_selectivity(sel){
                let values = [];
                $(`${sel} .selectivity-multiple-selected-item`).each(function() {
                    values.push($(this).text());
                });

                return values;
            }

            let params = {};
            params["actors"] = get_selectivity("#cast");
            params["genres"] = get_selectivity("#genres");
            params["director"] = get_selectivity("#director");
            if(params["director"].length > 0) params["director"] = params["director"][0];
            else params["director"] = null;

            params["min_rating"] = $("#min_rating").val();
            if(params["min_rating"]){
                params["min_rating"] = parseFloat(params["min_rating"]);
            }

            params["year"] = $("#year").val();
            if(params["year"]){
                params["year"] = parseInt(params["year"]);
            }

            let url = "";
            $.each(["actors", "genres", "director", "min_rating", "year"], function(index, key){
                if(params.hasOwnProperty(key) && params[key]){
                    if(params[key] instanceof Array){
                        if(params[key].length > 0) {
                            url += `${key}=[${params[key].join(",")}]&`;
                        }
                    } else {
                        url += `${key}=${params[key]}&`;
                    }
                }
            });

            if(url){
                url = url.slice(0, - 1);
                window.location.href = `${APPLICATION_ROOT}meta/popcorn/${url}`;
            } else {
                window.location.href = `${APPLICATION_ROOT}meta/popcorn`;
            }
        });
    });
    </script>
{% endblock %}
