<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!--<div class="message">This is a warning message</div>-->

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">{{ _('Toggle navigation') }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ url_for("root") }}" class="navbar-brand"></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="file_counter">{{ ('{:,}').format(env['db_file_count']) }}</li>
                <li><a href="{{ url_for("search_home")}}">{{ _('Search') }}</a></li>
                <li><a href="{{ url_for("browse_home")}}">{{ _('Browse') }}</a></li>
                <li><a href="{{ url_for("research")}}">Research</a></li>
                <li><a href="#">API</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user and user.username == "anon" %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ _('Account') }} <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href={{ url_for("login") }}>{{ _('Login') }}</a></li>
                            <li><a href={{ url_for("register") }}>{{ _('Register') }}</a></li>
                        </ul>
                    </li>
                {% elif user %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user" aria-hidden="true" style="margin-right: 4px;"></i> {{ user.username }} <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href={{ url_for("user_cp") }}>User CP</a></li>
                            <li><a href={{ url_for("logout") }}>Logout</a></li>
                            <!--admin-->
                            {% if user.role == 0 %}
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Admin Panel</li>
                                <li><a href={{ url_for("/admin") }}>Home</a></li>
                                <li><a href={{ url_for("/admin/appearance") }}>Appearance</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>