
{% extends "bucket/templates/base.html" %}
{% block content %}
    <script src="{{ url_for("static", filename="js/findex/search.js") }}"></script>
    {% import 'bucket/templates/main/meta/_macros.html' as macros %}

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div id="popcorn" class="container-fluid" style="max-width: 1400px;">
            <div class="row">
                <div class="filters col-md-10 col-md-offset-1">
                    <div class="row no-padding">
                        <div class="col-md-4 beetje-padding">
                            <input id="movie_title" placeholder="Movie Title" name="movie_title" class="txtinput">
                        </div>
                        <div class="col-md-2 beetje-padding">
                            <input id="year" placeholder="Year" name="year" class="txtinput">
                        </div>
                        <div class="col-md-2 beetje-padding">
                            <input id="min_rating" placeholder="Min. Rating" name="min_rating" class="txtinput">
                        </div>
                        <div class="col-md-4 beetje-padding">
                            <div id="cast" class="selectivity-input example-input"></div>
                        </div>
                    </div>
                    <div class="row no-padding">
                        <div class="col-md-4 beetje-padding">
                            <div id="genres" class="selectivity-input example-input"></div>
                        </div>
                        <div class="col-md-3 beetje-padding">
                            <div id="director" class="selectivity-input example-input"></div>
                        </div>
                    </div>
                    <div class="row no-padding">
                        <div class="col-md-2 col-md-offset-5">
                            <div class="form-group" style="display:inline;">
                                <button type="submit" id="submit_search" class="btn btn-primary btn-md">Search</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="results col-md-10 col-md-offset-1">
                    <div class="row">
                        {% if not results %}
                            <p>
                                No results!
                            </p>
                        {% else %}
                            <div class="overview">
                            {% for result in results %}
                                <div class="item">
                                    <div class="content">
                                        {% if result.meta_movie.meta.poster %}
                                            {% set poster = application_root+'/static/meta/posters/'+result.meta_movie.meta.poster+'.jpg' %}
                                        {% else %}
                                            {% set poster = application_root+'/static/img/default_thumbnail2.png' %}
                                        {% endif %}
                                        <div class="poster" style="background-image: url('{{ poster }}')"></div>
                                        <div class="info">
                                            <div class="title_container">
                                                <div class="title">
                                                    {{ result.meta_movie.title }} <span class="year_release">{{ result.meta_movie.year }}</span>
                                                </div>
                                            </div>

                                            <span class="people">
                                                <a href="{{ application_root }}meta/popcorn/director/{{ result.meta_movie.director }}">
                                                    {{ result.meta_movie.director }}
                                                </a>
                                                <br>
                                                {{ macros.actors_link(result.meta_movie.actors) }}
                                            </span>

                                            <span class="synopsis">
                                                "{{ result.meta_movie.plot }}"
                                            </span>
                                        </div>
                                    </div>

                                    <div class="options">
                                        {% set badge_color = "default" %}
                                        {% set rating = result.meta_movie.rating %}
                                        {% if rating > 10 %}{% set rating = rating / 10 %}{% endif %}
                                        {% if rating < 5 %}
                                            {% set badge_color = "danger" %}
                                        {% elif rating < 6.5 %}
                                            {% set badge_color = "warning" %}
                                        {% elif rating < 7.6 %}
                                            {% set badge_color = "info" %}
                                        {% else %}
                                            {% set badge_color = "success" %}
                                        {% endif %}
                                        <div class="label rating label-{{ badge_color }}">{{ rating }}</div>
                                        {% if result.meta_movie.genres %}
                                            {% set genres = result.meta_movie.genres[:3] %}
                                        <div class="genres">
                                            {% for genre in genres %}
                                            <div class="label label-default">{{ genre }}</div>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        <button type="submit" id="more" data-state="closed" data-movie-id="{{ result.meta_movie.id }}" class="btn btn-primary btn-sm">More</button>
                                    </div>

                                    <div class="details" data-movie-id="{{ result.meta_movie.id }}">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>Sources</h4>
                                                <table class="browser table table-hover local_files">
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>Meta</h4>
                                                <div class="meta_badges"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="consensus">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    $(document).ready(function(){
        $("button#more").click(function(){
            let uid = $(this).attr("data-movie-id");
            let state = $(this).attr("data-state");
            let sel_details = $(`div.item .details[data-movie-id='${uid}']`);

            if(state === "open"){
                $(this).text("more");
                $(this).attr("data-state", "closed");
                sel_details.hide();
                return;

            } else {
                $(this).text("close");
                $(this).attr("data-state", "open");
                sel_details.show();
            }

            FindexGui.api(`/meta/popcorn/details/${uid}`, "GET").then(function(data){
                data = data.data;
                if(data.local_files){
                    let table_rows_html = "";

                    data.local_files.forEach(function(obj, i){
                        if(i <= 6) {
                            let file_href = `${APPLICATION_ROOT}browse/${obj.path_file}`;
                            table_rows_html += `
<tr class="clickable text-nowrap" data-id="${obj.id}" data-isdir="f" data-type="${obj.file_format}" data-ext="${obj.file_ext}" data-href="${file_href}" rel="popover" title="">
    <td><a target="_blank" href="${file_href}">${obj.file_name_human}</a></td>
    <td>${obj.file_size_human}</td>
    <td><a target="_blank" href="${obj.path_direct}">Download</a></td>
</tr>`;
                        }
                    });

                    sel_details.find(`table.local_files tbody`).html(table_rows_html);
                }

                if(data.meta_movie.meta){
                    let _data = data.meta_movie.meta;
                    let badges = "";
                    function make_badge(text){
                        return `<div class="label label-default">${text}</div>`;
                    }
                    if(_data.hasOwnProperty("metacritic") && _data.metacritic){
                        badges += make_badge(`Metacritic: ${_data.metacritic}`);
                    }
                    if(_data.hasOwnProperty("production") && _data.production){
                        badges += make_badge(`Production: ${_data.production}`);
                    }
                    if(_data.hasOwnProperty("boxoffice") && _data.boxoffice){
                        badges += make_badge(`Box Office: ${_data.boxoffice}`);
                    }
                    if(_data.hasOwnProperty("awards") && _data.awards){
                        badges += make_badge(_data.awards);
                    }
                    if(_data.hasOwnProperty("language") && _data.language){
                        badges += make_badge(_data.language);
                    }

                    sel_details.find(`div.meta_badges`).html(badges);

                    if(_data.hasOwnProperty("rtconsensus") && _data.rtconsensus){
                        sel_details.find(`div.consensus`).html(`"${_data.rtconsensus}"`);
                    }
                }
            });
        });

        $('#director').selectivity({
            multiple: true,
            placeholder: "Director",
            ajax: {
                url: function(term, offset){
                    return `${APPLICATION_ROOT}api/v2/meta/popcorn/director/search/${term.term}`;
                },
                minimumInputLength: 3,
                quietMillis: 250,
                fetch: function(url, init, queryOptions) {
                    return $.ajax(url).then(function(data) {
                        return {
                            results: $.map(data.data.items, function(item) {
                                return {
                                    text: item.director,
                                    id: item.id
                                };
                            })
                        };
                    });
                }
            }
        });

        $('#cast').selectivity({
            multiple: true,
            placeholder: "Cast",
            ajax: {
                url: function(term, offset){
                    return `${APPLICATION_ROOT}api/v2/meta/popcorn/actor/search/${term.term}`;
                },
                minimumInputLength: 3,
                quietMillis: 250,
                fetch: function(url, init, queryOptions) {
                    return $.ajax(url).then(function(data) {
                        return {
                            results: $.map(data.data.items, function(item) {
                                return {
                                    text: item.actor,
                                    id: item.id
                                };
                            })
                        };
                    });
                }
            }
        });

        $('#genres').selectivity({
            items: [
                "Family",
                "Music",
                "Documentary",
                "Fantasy",
                "Animation",
                "Sci-Fi",
                "War",
                "Biography",
                "History",
                "Mystery",
                "Adventure",
                "Adult",
                "Short",
                "Thriller",
                "News",
                "Musical",
                "Drama",
                "Comedy",
                "Western",
                "Horror",
                "Romance",
                "Action",
                "Crime",
                "Sport"
            ],
            multiple: true,
            placeholder: 'Select Genre'
        });

        $('.selectivity-input').change(function(){
            let a = $(this).find(".selectivity-multiple-selected-item");
            if(a.length === 1){
                $(this).find(".selectivity-multiple-input-container").css("padding-top", 2)
            } else {
                $(this).find(".selectivity-multiple-input-container").css("padding-top", 9)
            }
        });

        let args = window.location.pathname.split("/").slice(-1)[0];
        args = Search.get_urlbar_items(args, false);

        if(args.hasOwnProperty("title")){
            $("#movie_title").val(args["title"]);
        }

        if(args.hasOwnProperty("year")){
            $("#year").val(args["year"]);
        }

        if(args.hasOwnProperty("genres")){
            if(args["genres"].length > 0){
                $("#genres").selectivity('value', args["genres"]);
            }
        }

        if(args.hasOwnProperty("director")){
            $("#director").selectivity('value', [args["director"]])
        }

        if(args.hasOwnProperty("actors")){
            if(args["actors"].length > 0) {
                $("#cast").selectivity('value', args["actors"])
            }
        }

        if(args.hasOwnProperty("min_rating")) {
            $("#min_rating").val(args["min_rating"]);
        }

        $("#submit_search").click(function(){
            function get_selectivity(sel){
                let values = [];
                $(`${sel} .selectivity-multiple-selected-item`).each(function() {
                    values.push($(this).text());
                });

                return values;
            }

            let params = {};
            params["actors"] = get_selectivity("#cast");
            params["genres"] = get_selectivity("#genres");
            params["director"] = get_selectivity("#director");
            if(params["director"].length > 0) params["director"] = params["director"][0];
            else params["director"] = null;

            params["min_rating"] = $("#min_rating").val();
            params["title"] = $("#movie_title").val();
            if(params["min_rating"]){
                params["min_rating"] = parseFloat(params["min_rating"]);
            }

            params["year"] = $("#year").val();
            if(params["year"]){
                params["year"] = parseInt(params["year"]);
            }

            let url = "";
            $.each(["actors", "title", "genres", "director", "min_rating", "year"], function(index, key){
                if(params.hasOwnProperty(key) && params[key]){
                    if(params[key] instanceof Array){
                        if(params[key].length > 0) {
                            url += `${key}=[${params[key].join(",")}]&`;
                        }
                    } else {
                        url += `${key}=${params[key]}&`;
                    }
                }
            });

            if(url){
                url = url.slice(0, - 1);
                window.location.href = `${APPLICATION_ROOT}meta/popcorn/${url}`;
            } else {
                window.location.href = `${APPLICATION_ROOT}meta/popcorn`;
            }
        });
    });
    </script>
{% endblock %}
