
{% extends "bucket/templates/base.html" %}
{% block content %}
    <script src="{{ url_for("static", filename="js/findex/search.js") }}"></script>
    {% import 'bucket/templates/main/meta/_macros.html' as macros %}

    <style>
        div.overview h1,
        div.overview h2,
        div.overview h3,
        div.overview h4{
            padding-top:0;
            margin-top:0;
            margin-bottom:0;
            padding-bottom:0;
            font-weight:bold;
        }
        div.overview{
            overflow: hidden;
            margin-bottom:40px;
        }
        div.overview>div.item{
            float:left;
            width:50%;
            margin-top: 20px;
            min-height: 200px;
        }
        div.overview>div.item>div.options>a.details{
            text-align: right;
        }
        div.overview>div.item>div.content>div{
            float:left;
        }
        div.overview>div.item>div.content>div.poster{
            width:20%;
            height:160px;
            background-size:cover;
            background-repeat: no-repeat;

        }
        div.overview>div.item>div.content>div.info{
            width:80%;
            padding-left:10px;
            padding-right:10px;
        }
        div.overview>div.item>div.content>div.info>div.title_container{
            overflow:hidden;
            border-bottom:1px solid #e0e0e0;
        }
        div.overview>div.item>div.content>div.info>div.title_container>.title{
            float:left;
            width:100%;
            font-weight:bold;
            font-size:16px;
            padding-bottom:2px;
            line-height: 20px;
        }
        div.overview span.year_release{
            font-size:12px;
            color: darkgrey;
            float: right;
        }
        div.overview>div.item span.people{
            display:block;
            margin-top:6px;
        }
        div.overview>div.item span.synopsis{
            margin-top:6px;
            color: #505050;
            display: block;
        }
        div.overview div.options>span.rating_stars{
            padding-top: 5px;
            padding-left: 4px;
            float: left;
        }
        div.overview div.details{
            display:none;
        }
        div.overview>div.item>div.content{
            width:100%;
            float:left;
        }
        div.overview>div.item>div.options{
            width: 100%;
            float: left;
            padding-right: 10px;
            padding-bottom: 4px;
            padding-top: 4px;
            margin-top: 8px;
        }
        div.overview>div.item>div.options>div.rating{
            border-radius: 1px;
            float: left;
            font-size:14px;
            font-weight: normal;
        }
        div.overview>div.item>div.options>button#more{
            border-radius: 1px;
            float: right;
            font-size: 12px;
            font-weight: normal;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 20px;
            padding-right: 20px;
        }
        div.overview>div.item>div.options>div.genres{
            padding-left: 6px;
            padding-top: 1px;
            float: left;
        }
        div.overview>div.item>div.options>div.genres>div.label{
            background-color: #b1b1b1;
            cursor: pointer;
            border-radius: 0;
        }
        div.overview>div.item>div.options>div.genres>div.label:hover{
            background-color: #8f8f8f;
            cursor: pointer;
        }

        @media screen and (max-width: 920px) and (min-width: 0px) {
            div.overview>div.item>div.content>div.poster{
                display: none;
            }
            div.overview>div.item>div.content>div.info{
                width:100%;
            }
        }
    </style>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div id="popcorn" class="container-fluid" style="max-width: 1400px;">
            <div class="row">
                <div class="filters col-md-10 col-md-offset-1">
                    <div class="row no-padding">
                        <div class="col-md-4 beetje-padding">
                            <input id="movie_title" placeholder="Movie Title" name="movie_title" class="txtinput">
                        </div>
                        <div class="col-md-2 beetje-padding">
                            <input id="year" placeholder="Year" name="year" class="txtinput">
                        </div>
                        <div class="col-md-2 beetje-padding">
                            <input id="min_rating" placeholder="Min. Rating" name="min_rating" class="txtinput">
                        </div>
                        <div class="col-md-4 beetje-padding">
                            <div id="cast" class="selectivity-input example-input"></div>
                        </div>
                    </div>
                    <div class="row no-padding">
                        <div class="col-md-4 beetje-padding">
                            <div id="genres" class="selectivity-input example-input"></div>
                        </div>
                        <div class="col-md-3 beetje-padding">
                            <div id="director" class="selectivity-input example-input"></div>
                        </div>
                    </div>
                    <div class="row no-padding">
                        <div class="col-md-2 col-md-offset-5">
                            <div class="form-group" style="display:inline;">
                                <button type="submit" id="submit_search" class="btn btn-primary btn-md">Search</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="results col-md-10 col-md-offset-1">
                    <div class="row">
                        {% if not results %}
                            <p>
                                No results!
                            </p>
                        {% else %}
                            <div class="overview">
                            {% for result in results %}
                                <div class="item">
                                    <div class="content">
                                        {% if result.meta_movie.meta.poster %}
                                            {% set poster = '/static/meta/posters/'+result.meta_movie.meta.poster+'.jpg' %}
                                        {% else %}
                                            {% set poster = '/static/img/default_thumbnail2.png' %}
                                        {% endif %}
                                        <div class="poster" style="background-image: url('{{ poster }}')"></div>
                                        <div class="info">
                                            <div class="title_container">
                                                <div class="title">
                                                    {{ result.meta_movie.title }} <span class="year_release">{{ result.meta_movie.year }}</span>
                                                </div>
                                            </div>

                                            <span class="people">
                                                <a href="{{ application_root }}meta/popcorn/director/{{ result.meta_movie.director }}">
                                                    {{ result.meta_movie.director }}
                                                </a>
                                                <br>
                                                {{ macros.actors_link(result.meta_movie.actors) }}
                                            </span>

                                            <span class="synopsis">
                                                "{{ result.meta_movie.plot }}"
                                            </span>
                                        </div>
                                    </div>

                                    <div class="options">
                                        {% set badge_color = "default" %}
                                        {% set rating = result.meta_movie.rating %}
                                        {% if rating > 10 %}{% set rating = rating / 10 %}{% endif %}
                                        {% if rating < 5 %}
                                            {% set badge_color = "danger" %}
                                        {% elif rating < 6.5 %}
                                            {% set badge_color = "warning" %}
                                        {% elif rating < 7.6 %}
                                            {% set badge_color = "info" %}
                                        {% else %}
                                            {% set badge_color = "success" %}
                                        {% endif %}
                                        <div class="label rating label-{{ badge_color }}">{{ rating }}</div>
                                        {% if result.meta_movie.genres %}
                                            {% set genres = result.meta_movie.genres[:3] %}
                                        <div class="genres">
                                            {% for genre in genres %}
                                            <div class="label label-default">{{ genre }}</div>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        <button type="submit" id="more" class="btn btn-primary btn-sm">More</button>
                                    </div>

                                    <div class="details">
                                        <span class="rating_stars">
                                            {{ macros.rating(79/10) }}
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    $(document).ready(function(){
        $('#director').selectivity({
            multiple: true,
            placeholder: "Director",
            ajax: {
                url: function(term, offset){
                    return `${APPLICATION_ROOT}api/v2/meta/imdb/director/search/${term.term}`;
                },
                minimumInputLength: 3,
                quietMillis: 250,
                fetch: function(url, init, queryOptions) {
                    return $.ajax(url).then(function(data) {
                        return {
                            results: $.map(data.data.items, function(item) {
                                return {
                                    text: item.director,
                                    id: item.id
                                };
                            })
                        };
                    });
                }
            }
        });

        $('#cast').selectivity({
            multiple: true,
            placeholder: "Cast",
            ajax: {
                url: function(term, offset){
                    return `${APPLICATION_ROOT}api/v2/meta/imdb/actor/search/${term.term}`;
                },
                minimumInputLength: 3,
                quietMillis: 250,
                fetch: function(url, init, queryOptions) {
                    return $.ajax(url).then(function(data) {
                        console.log(data.data);
                        return {
                            results: $.map(data.data.items, function(item) {
                                return {
                                    text: item.actor,
                                    id: item.id
                                };
                            })
                        };
                    });
                }
            }
        });

        $('#genres').selectivity({
            items: [
                "Family",
                "Music",
                "Documentary",
                "Fantasy",
                "Animation",
                "Sci-Fi",
                "War",
                "Biography",
                "History",
                "Mystery",
                "Adventure",
                "Adult",
                "Short",
                "Thriller",
                "News",
                "Musical",
                "Drama",
                "Comedy",
                "Western",
                "Horror",
                "Romance",
                "Action",
                "Crime",
                "Sport"
            ],
            multiple: true,
            placeholder: 'Select Genre'
        });

        $('.selectivity-input').change(function(){
            let a = $(this).find(".selectivity-multiple-selected-item");
            if(a.length === 1){
                $(this).find(".selectivity-multiple-input-container").css("padding-top", 2)
            } else {
                $(this).find(".selectivity-multiple-input-container").css("padding-top", 9)
            }
        });

        let args = window.location.pathname.split("/").slice(-1)[0];
        args = Search.get_urlbar_items(args, false);

        if(args.hasOwnProperty("title")){
            $("#movie_title").val(args["title"]);
        }

        if(args.hasOwnProperty("year")){
            $("#year").val(args["year"]);
        }

        if(args.hasOwnProperty("genres")){
            if(args["genres"].length > 0){
                $("#genres").selectivity('value', args["genres"]);
            }
        }

        if(args.hasOwnProperty("director")){
            $("#director").selectivity('value', [args["director"]])
        }

        if(args.hasOwnProperty("actors")){
            if(args["actors"].length > 0) {
                $("#cast").selectivity('value', args["actors"])
            }
        }

        if(args.hasOwnProperty("min_rating")) {
            $("#min_rating").val(args["min_rating"]);
        }

        $("#submit_search").click(function(){
            function get_selectivity(sel){
                let values = [];
                $(`${sel} .selectivity-multiple-selected-item`).each(function() {
                    values.push($(this).text());
                });

                return values;
            }

            let params = {};
            params["actors"] = get_selectivity("#cast");
            params["genres"] = get_selectivity("#genres");
            params["director"] = get_selectivity("#director");
            if(params["director"].length > 0) params["director"] = params["director"][0];
            else params["director"] = null;

            params["min_rating"] = $("#min_rating").val();
            params["title"] = $("#movie_title").val();
            if(params["min_rating"]){
                params["min_rating"] = parseFloat(params["min_rating"]);
            }

            params["year"] = $("#year").val();
            if(params["year"]){
                params["year"] = parseInt(params["year"]);
            }

            let url = "";
            $.each(["actors", "title", "genres", "director", "min_rating", "year"], function(index, key){
                if(params.hasOwnProperty(key) && params[key]){
                    if(params[key] instanceof Array){
                        if(params[key].length > 0) {
                            url += `${key}=[${params[key].join(",")}]&`;
                        }
                    } else {
                        url += `${key}=${params[key]}&`;
                    }
                }
            });

            if(url){
                url = url.slice(0, - 1);
                window.location.href = `${APPLICATION_ROOT}meta/popcorn/${url}`;
            } else {
                window.location.href = `${APPLICATION_ROOT}meta/popcorn`;
            }
        });
    });
    </script>
{% endblock %}
