.box-body>img{
    padding:10px;
    width:100%;
}

.dynatable-per-page{
    margin-bottom: 20px;
    display: block;
}

.skin-black-light .sidebar-menu > li > a {
    font-weight: 400;
}

.treeview-menu > li > a > .fa, .treeview-menu > li > a > .glyphicon, .treeview-menu > li > a > .ion {
    display: none;
}

.skin-black-light .sidebar-menu > li > a, .skin-black-light .sidebar-menu > li.active > a {
    background-color: white;
}
