{% extends "smoothPirate/view/base.html" %}

{% block content %}
<style>
    div.debug_container{
        border: 1px solid #ccc;
        background-color: #f5f5f5;
        border-radius: 6px;
        overflow: hidden;
        margin-bottom:10px;
        width:600px;
    }
    div.debug_item{
        margin-top:2px;
        width:598px;
        float:left;
        margin-left:6px;
        overflow:hidden;
    }
    div.debug_message{
        width:598px;
        float:left;
        overflow:hidden;
    }
    div.debug_footer{
        float:right;
        margin-right:6px;
    }
</style>

<body bgcolor="black">
<div style="margin-left:50px;margin-top:50px;">
    {% for item in debuglist %}
        <div class="debug_container">
            <div class="debug_item">
                {{item}}
            </div>
            <div class="debug_footer">
                2 seconds ago
            </div>
        </div>
    {% endfor %}
</div>
</body>
{% endblock %}