{% extends "_admin/templates/base.html" %}
{% block content %}

    <div class="content-wrapper" style="min-height: 946px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Overview
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Mq</a></li>
                <li><a href="#">Overview</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active "><a href="#amqps" data-toggle="tab">Endpoints</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="amqps">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="mq" class="display table table-bordered" cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Host</th>
                                                <th>Port</th>
                                                <th>Vhost</th>
                                                <th>Queue</th>
                                                <th>Broker Type</th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <style>
        table tbody tr:hover{
            background: #f9f9f9;
        }
    </style>

    <script>
        $(document).ready(function() {
            // @TODO: auto-refresh
            let table_amqp_overview = $("table#mq");

            table_amqp_overview.fintable({
                endpoint: "/admin/mq/get"
            });
        });
    </script>

{% endblock %}