- name: install openjdk
  apt: name={{ item }} state=present
  with_items:
    - openjdk-8-jre-headless
    - apt-transport-https

- name: Add ElasticSearch repository key
  apt_key: url=https://artifacts.elastic.co/GPG-KEY-elasticsearch state=present

- name: Add ElasticSearch repository
  apt_repository: repo='deb https://artifacts.elastic.co/packages/5.x/apt stable main' state=present

- name: Install ElasticSearch
  apt: name=elasticsearch=5.6.4 state=present

- name: copy ElasticSearch configuration 1
  copy: src=default_elasticsearch dest=/etc/default/elasticsearch

- name: copy ElasticSearch configuration 2
  template: src=elasticsearch.yml dest=/etc/elasticsearch/elasticsearch.yml

- name: add ElasticSearch to startup
  systemd:
    name: elasticsearch
    enabled: yes
    masked: no
  notify:
    - start elasticsearch

- name: download zombodb-es-plugin-3.1.15.zip
  get_url:
    url="https://www.zombodb.com/releases/v5.6.4-1.0.0/zombodb-es-plugin-5.6.4-1.0.0.zip"
    dest="/tmp/zombodb-es-plugin-5.6.4-1.0.0.zip"

- name: remove zombodb
  shell:
    cmd: /usr/share/elasticsearch/bin/elasticsearch-plugin remove zombodb
  args:
    executable: /bin/bash
  become_user: root
  ignore_errors: yes

- name: installing zombodb
  expect:
    command: /usr/share/elasticsearch/bin/elasticsearch-plugin install file:///tmp/zombodb-es-plugin-5.6.4-1.0.0.zip
    responses:
      'y/N' : 'y'
  become_user: root
  ignore_errors: yes
  notify:
    - restart elasticsearch

- name: Waiting for port 9200 to come up
  wait_for:
    host: "{{ findex.es.host }}"
    port: 9200
    timeout: 60
    delay: 2
