/* General */

body{
    background-color:#f8f8f8;
}

a{
	color: #3572b0;
}

hr{
    border-top: 1px solid #DDD;
}

h1,h2,h3,h4,h5{
    padding-top:2px;
    padding-bottom:2px;
    margin-bottom:2px;
    margin-top:2px;
}

input{
    padding-left:8px !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.container-fluid {
    padding-top: 20px;
}

.col-center {
   float: none;
   margin-right: auto;
   margin-left: auto;
}

.btn-default{
	box-sizing: border-box;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3.01px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-variant: normal;
    font-weight: 400;
    height: 2.14285714em;
    line-height: 1.42857143;
    margin: 0;
    padding: 4px 10px;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
}

.open>.dropdown-menu>.fetch_container{
	color:black;
	width:400px !important;
	padding:10px;
	padding-left:20px;
	padding-right:20px;
}
.open>.dropdown-menu>.fetch_container>textarea{
	width: 100%;
	resize: none;
	border-radius:4px;
	font-size:12px;
	margin-bottom:6px;
	border: 1px solid #ccc;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top: 40px;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
	background: #f5f5f5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	border-right: 1px solid #ccc;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 34px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #337ab7;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #3572b0;
    background: #e6e6e6;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: black;
}

.sidebar-nav > .sidebar-brand a:hover {
    text-decoration:underline;
    background: none;
	color: black;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
        overflow-y:hidden;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* navbar */
@media (min-width: 1200px) {
	.container {
		width: 100% !important;
	}
}

@media (min-width: 992px){
	.container {
		width: 100% !important;
	}
}

.navbar-default {
	background-color: #205081;
	border-color: #2e3D54;
}
.navbar-nav > li > a, .navbar-brand {
    padding-top:11px !important;
    padding-bottom:0 !important;
    height: 40px;
	font-family: "Arial";
	color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar {min-height:40px !important;}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: #3572b0;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: #337ab7;
}

.navbar-brand{
    padding: 0px;
    padding-top: 0px !important;
    background: url('http://i.imgur.com/h83XZCE.png');
    height: 40px;
    width: 68px;
    background-repeat: no-repeat;
    background-position-y: -2px;
    margin-left: 6px !important;
}

ul.navbar-nav .file_counter{
	color: white;
    margin-top: 14px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-left: 6px;
    margin-right: 6px;
}

.navbar-fixed-top>.container>div.message{
	position: fixed;
    top: 40px;
    left: 0px;
    width: 100%;
    background: #fffdf6;
    border: 1px solid #ffeaae;
    padding-left: 20px;
    line-height: 20px;
}

.sidebar-nav>.header{
	line-height:normal;
    margin-top: 22px;
    margin-bottom: 6px;
}
.sidebar-nav>.header>.cont>.icon>img{
	max-height:70px; border-radius: 64px;
}
.sidebar-nav>.header>.cont>.icon{
	float:left;width:100px;height:80px;
}
.sidebar-nav>.header>.cont>.description{
	font-size:14px;
    float:left;
    width:100px;
    height:80px;
    text-indent:0px;
    padding-top:10px;
    line-height:16px;
}
.sidebar-nav>.header>.cont{
	width:250px;overflow:hidden;margin-top:12px;
}

.sidebar-nav>.header>.cont>.hide_sidebar{
    float: right;
    text-align: center;
    vertical-align: middle;
    width: 22px;
    height: 30px;
    border: 1px solid #B9B9B9;
    background: white;
    display: block;
    text-indent: 0;
    cursor:pointer;
}

.sidebar-nav>.header>.cont>.hide_sidebar>.fa {
    font-size: 14px;
    line-height: 26px;
}

.sidebar-nav>li>a>span{
	margin-right: 10px;
}

.sidebar-nav .fa{
	color: #696969;
	font-size:18px;
	text-indent:0px;
}

.sidebar-nav .fa>span{
	color:#337ab7;
	font-size:14px;
	margin-left:16px;
	font-family: 'Open Sans', sans-serif;
}

#sidebar-wrapper>hr{
    margin-left: 14px;
    margin-right: 14px;
    border-top: 1px solid #D6D6D6;
}

.breadcrumbs{
    list-style: none;
    margin: 0;
    padding: 0;
	padding-bottom:10px;
}

.breadcrumbs>li{
	padding: 0 10px 0 0;
	float:left;
}
.breadcrumbs>li::before{
	content: "/";
	padding-right:4px;
}

/* browser table */
table.browser{
    margin-top:0px;
}

table.browser>tbody>tr>td{
    padding: 4px;
}

table.browser>tbody>tr>td>i.fa{
	margin-right:6px;
	font-size:16px;
    color: #999999;
}

table.browser>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}

.clickable:hover{
    background: #f5f5f5;
}

table.browser>thead>tr{
    color: #707070;
    font-size: 13px;
}

#login-overlay{
    padding-top:40px;
}

/* checkbox stuff */
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.checkbox label, .radio label {
    padding-left: 0px;
}

.form-group {
    margin-bottom: 6px;
}

/* popcorn */
#popcorn .filters{
    padding-left:2%;
    padding-right:2%;
    padding-top: 10px;
    background: #f5f5f5;
    border:1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 14px;
}

#popcorn .filters>div{
    padding-bottom: 10px;
}

#popcorn .filters>.row{
    max-width:820px;
    margin: auto;
}

/* Selectivity */
#popcorn .selectivity-input input {
    border-color: inherit;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1) !important;
    text-align: center;
}

#popcorn .selectivity-multiple-input-container{
    background: #fbfbfb;
    padding: 4px;
    min-width: 220px !important;
    padding-top: 9px;
    overflow-y: auto;
    border-radius: 4px;
    border: 1px solid #A8A8A8;

}

#popcorn .filters .selectivity-multiple-input, input[type='text'].selectivity-multiple-input {
    height: calc(0.6em + 4px);
}

#popcorn .selectivity-multiple-selected-item {
    font-size:14px;
    padding-right: 8px;
    padding-left: 2px;
    line-height: 1.6em;
}

#popcorn .filters .selectivity-input input {
    width: 232px;
}

#popcorn .filters .selectivity-input{
    width: 100%;
}

#popcorn .filters .txtinput{
    height:32px;
    background: #fbfbfb;
    padding: 4px;
    width:100%;
    text-align:center;
    overflow-y: auto;
    border-radius: 4px;
    border: 1px solid #A8A8A8;
}

#popcorn .filters .beetje-padding{
    padding-left:4px;
    padding-right:4px;
}

#popcorn .filters .btn-primary{
    height: 30px;
    padding-top: 4px;
}

#popcorn .results .panel{
    margin-left:4px;
    margin-right:4px;
}

#popcorn .results .panel .panel-heading button{
    padding: 4px 10px;
    font-size: 12px;
    line-height: 0.9;
    border-radius: 3px;
    background-color: #337ab7;
    border-color: #2e6da4;
}

#popcorn .results .panel .panel-body{
    min-height:400px;
}

#popcorn .results .panel .panel-footer .rating .pull-right{
    color: #bdc3c7;
    font-weight: bold;
}

.glyphicon-star{
  font-size: 16px;
  color: #e67e22;
}
.glyphicon-star-empty{
    font-size: 16px;
    color:#bdc3c7;
    position: relative;
}

.glyphicon-star-empty:before{
  z-index: 9;
  width: 100%;
  display: block;
  overflow: hidden;
}
.glyphicon-star-empty:after {
  content: '\e006';
  position: absolute;
  z-index: 8;
  color: #bdc3c7;
  top: 0;
  left: 0;
}

.glyphicon-star.half {
  position: relative;
}
.glyphicon-star.half:before {
  position: relative;
  z-index: 9;
  width: 47%;
  display: block;
  overflow: hidden;
}
.glyphicon-star.half:after {
  content: '\e006';
  position: absolute;
  z-index: 8;
  color: #bdc3c7;
  top: 0;
  left: 0;
}
