    /*
    * Homepage
    */

    .hero_container{
        background: url('/static/themes/bucket/static/img/bg_blue2.jpg');
        background-size: cover;
        width: 100%;
        height: auto;
        min-height: 700px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 120px;
    }
    .max_width{
        max-width:970px;
        margin:0 auto;
    }
    .app_container{
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        text-align: center;
        padding:20px;
        padding-top:26px;
        padding-bottom:26px;
        border-bottom: 1px solid #e8e8e8;
    }
    .app_container>p{
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: "roboto condensed";
        font-weight: 700;
        font-size: 18px;
        color: rgb(89, 89, 89);
        padding-left: 34px;
        padding-right: 34px;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        width: 100%;
        line-height: 47px;
    }
    .app_container>p>img{
        display: inline-block;
        margin: 0 1%;
        box-sizing: inherit;
        max-height: 75px;
    }
    .home_container{
        width:100%;
        height:auto;
        display: inline-flex;
        border-top: 1px solid #e7e7e7;
        font-size: 16px;
        line-height: 36px;
        font-weight: 300;
        background:whitesmoke;
        padding-bottom:80px;
    }
    div#home_cta_row>a>.well{
        background:white;
    }
    div#home_cta_row>a>.well>h4{
        line-height: 24px;
    }
    div#home_cta_row>a>.well>p{
        line-height: 26px;
    }


    .bg_container{
        background: transparent !important;
    }
    #home_cta_row>a>div.well{
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.10);
        border: 1px solid rgba(0, 0, 0, 0.22);
    }

/*
* Footer
*/

footer a{
    color: #dedede;
}
footer a:hover{
    color:white;
}
.site-footer{
    background: linear-gradient(rgb(58, 58, 58), rgb(23, 23, 23));
    color: rgb(181, 181, 181);
}

#site_branding{
    display: inline-block;
}

#footer_copyright {
    float: left;
    width: 45%;
}

footer#colophon>#container {
    max-width: 1100px;
    margin: 0 auto;
}

#footer_logo {
  max-width: 120px;
    display: block;
    float: left;
    margin-right: 10px;
    opacity: .6;
    /* margin-top: 6px; */
    transition: .2s ease-in-out;
    background-image: url('/static/img/findex.png');
    height: 30px;
    width: 70px;
    background-position-x: -38px;
    background-position-y: -10px;
}

#footer_copyright>#site_branding>#made_by {
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    display: block;
    float: left;
    padding-left: 10px;
    margin: 0 6px 0 0;
    border-left: 1px solid #595c6b;
    cursor: pointer;
    color:rgb(181, 181, 181);
}

#copyright_widget_area {
    margin-top: 5px;
    font-size: 13px;
}

#copyright_widget_area .widget:last-of-type {
    margin-bottom: 0;
}

#copyright_widget_area p:last-of-type {
    margin-bottom: 0;
}

.textwidget a {
    color: #8A8B91;
    text-decoration: none;
    font-size: 15px;
    transition: all .2s ease-in-out;
}

.footer_nav_block a, .textwidget a {
    color: #6e7083;
    text-decoration: none;
    font-size: 15px;
    transition: all .2s ease-in-out;
}

.footer_nav_block p {
    margin: 0;
}

.footer_nav_block li {
    display: inline-block;
    margin: 0 10px 0 0;
}


#page-content-wrapper{
    padding-top:20px;
    padding-bottom:80px;
}

/* News */
.news{
    padding-bottom:40px;
}

.container-fluid>.row .col-md-6>h3{
    text-align:center;
    width:100%;
    color: #868686;
    font-family: "Roboto Condensed";
    padding-bottom:20px;
}

.container-fluid>.row .col-md-6 .panel-body{
    padding:4px;
}

.container-fluid>.row .col-md-6 .panel-body{
    padding:16px;
}

.container-fluid>.row .col-md-6 .panel-body h4 {
    margin-top:16px;
    margin-bottom:6px;
}

.container-fluid>.row .col-md-6 .panel-heading{
    font-size:22px;
    font-family: "Roboto Condensed";
    margin-bottom: 0px;
    padding: 4px;
    padding-left: 12px;
}

.container-fluid>.row .col-md-6 .panel-body ul{
    padding-right:10px;
}

    /*
    * home hero
    */
    .hero{
        background: url(/static/themes/bucket/static/img/bg_blue2.jpg);
        background-size: cover;
        color: white;
        font-family: "Roboto Condensed";
        min-height:400px;
    }

    .hero .search{
        overflow: hidden;
        float: left;
    }

    .hero .search>input{
        width: 280px;
        margin-left: 4px;
        margin-top: 32px;
        border: 2px solid rgba(29, 160, 228, 0.55);
    }

    .hero .tagline{
        font-size: 38px;
        text-align: center;
        float: left;
        width: 100%;
        line-height: 4px;
        margin-left: 10px;
    }

    .hero .search_container{
        overflow: hidden;
        width: 450px;
        margin: 0 auto 4px;
    }

    .hero .search_container>.arrow{
        width: 90px;
        height: 70px;
        float: left;
        background: url(/static/themes/bucket/static/img/arrowdown3.png);
    }
    .hero .search_container>.search{
        height:70px;
        float:left;
    }

    .hero .description{
        width: 320px;
        overflow: hidden;
        margin: 0 auto 4px;
        opacity:0;
    }

    .hero .description>div{
        float:left;
        height: 100px;
        font-size:16px;
    }

    .hero .description div.bracket{
        font-size: 44px;
        opacity: 0.9;
        line-height: 70px;
    }

    #test {
        position:absolute;
        width:100%;
        height:400px;
    }
