{% extends "_admin/templates/base.html" %}
{% block content %}
    {% import '_admin/templates/helpers/_macros.html' as macros %}
    <div class="content-wrapper" style="min-height: 946px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Add Servers
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Add Servers</a></li>
                <li><a href="#">List</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid collapsed-box">
                        <div class="box-header with-border ">
                            <h3 class="box-title">Help</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <p>
                                This page lets you add servers to Findex for crawling in 2 ways:
                            </p>
                            <ul>
                                <li>Manually adding one server</li>
                                <li>Programmatically adding a bulk of servers</li>
                            </ul>

                            <div class="row">
                                <div class="col-xs-8">
                                    <p>
                                        Please note that for all options, the added servers will not be indexed right
                                        way,
                                        instead they will be assigned to a server group called <code>default</code> (see
                                        also;
                                        menu item <b>Servers->Groups</b>).
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- ./col -->
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2 class="page-header">Add Server</h2>
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#host" data-toggle="tab">Endpoint</a></li>
                            <li><a href="#options" data-toggle="tab">Options</a></li>
                            <li><a href="#authentication" data-toggle="tab">Authentication</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="host">
                                <section id="new">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form id="add" class="">
                                                {% for field in form_add %}
                                                    {{ macros.render_field(field) }}
                                                {% endfor %}
                                            </form>
                                        </div>
                                    </div>
                                </section>
                            </div>

                            <div class="tab-pane" id="options">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form id="options" class="">
                                            {% for field in form_options %}
                                                {{ macros.render_field(field) }}
                                            {% endfor %}
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="authentication">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form id="options" class="">
                                            {% for field in form_auth %}
                                                {{ macros.render_field(field) }}
                                            {% endfor %}
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <div class="btn-group" role="group" aria-label="submit">
                                <button type="button" id="test_reachability" class="btn btn-secondary">Test
                                    reachability
                                </button>
                                <button type="button" id="submit" class="btn btn-primary">Submit Server</button>
                            </div>

                            <div id="error" style="margin-top:20px; display: none;">
                                <span style="color:red;font-weight:bold;" id="msg_error">Javascript disabled?</span>
                                <span style="color:green;font-weight:bold;" id="msg_success"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <style>
                        pre {
                            word-break: break-word;
                            white-space: pre-wrap;
                            font-size: 12px;
                            font-family: monospace;
                        }
                    </style>
                    <h2 class="page-header">Programmatically</h2>
                    <div class="box box-solid">
                        <div class="box-body api">
                            <p>
                                URL: <code>/api/v2/resource/add</code><br><br>
                                Authentication via HTTP BASIC (or cookie) required.
                            </p>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Python</h4>
                                    <pre>
import requests

data = {
    "server_name": "debian",
    "server_address": "ftp.debian.org",
    "resource_port": "21",
    "resource_protocol": "0",
    "basepath": "/debian/tools/",
    "display_url": "",
    "recursive_sizes": "y",
    "throttle_connections": "-1",
    "user_agent": "Wow Cool User Agent",
    "auth_user": "",
    "auth_pass": "",
    "auth_type": "0"
}

auth = ('root', 'changeme')

r = requests.post('http://localhost:9200/api/v2/resource/add',
                  json=data, auth=auth)

                                    </pre>
                                </div>
                                <div class="col-md-12">
                                    <h4>CURL</h4>
                                    <pre>
curl 'http://localhost:9200/api/v2/resource/add' --user root:changeme -H 'User-Agent: Curl' -H 'Content-Type: application/json' -H 'Accept: */*' --data-binary '{"server_name":"debian","server_address":"ftp.debian.org","resource_port":"21","resource_protocol":"0","basepath":"/debian/tools/","display_url":"","recursive_sizes":"y","throttle_connections":"-1","user_agent":"Wow Cool User Agent","auth_user":"","auth_pass":"","auth_type":"0"}' --compressed
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <script>
        $(document).ready(function () {
            function msg_add(msg) {
                $("#error").css("display", "block");
                $("#msg_error").html("");
                $("#msg_success").html(`${msg}`);
            }

            function msg_add_err(msg) {
                $("#error").css("display", "block");
                $("#msg_success").html("");
                $("#msg_error").html(`Error: ${msg}`);
            }

            var get_form_data = function (selector) {
                return $(selector).serializeArray().reduce(function (obj, item) {
                    obj[item.name] = item.value;
                    return obj;
                }, {})
            };

            $("#submit").click(function () {
                let form_add = get_form_data("form#add");
                let form_options = get_form_data("form#options");
                let form_auth = get_form_data("form#auth");

                let data = extend(form_add, form_options);
                data = extend(data, form_auth);

                FindexGui.api("/resource/add", "POST", data).then(function (result) {
                    goto_uri(url_for("/admin/server/overview"));
                }).fail(function (result) {
                    let msg = FindexGui.api_unpack_error(result);
                    if (msg) {
                        msg_add_err(msg);
                    } else {
                        msg_add_err(`Could not add resource`);
                    }
                });
            });

            $("#test_reachability").click(function () {
                let form_add = get_form_data("form#add");
                let form_auth = get_form_data("form#auth");
                let data = extend(form_add, form_auth);
                data = extend(data, form_auth);

                let d = {
                    "resource_port": parseInt(data.resource_port),
                    "resource_protocol": data.resource_protocol,
                    "server_address": data.server_address,
                    "auth_user": data.auth_user,
                    "auth_pass": data.auth_pass,
                    "auth_type": data.auth_type
                };

                FindexGui.api("/admin/server/test", "POST", d).then(function (result) {
                    if (result.data == true) {
                        msg_add("All Gucci");
                    } else {
                        msg_add_err("Unreachable");
                    }
                }).fail(function (result) {
                    console.log(result);
                    msg_add_err("Unreachable");
                });
            });
        });
    </script>
{% endblock %}