{% extends "_admin/templates/helpers/base.html" %}
{% block content %}

    <!-- main area -->
    <div id="content" class="col-xs-13 col-sm-12" data-spy="scroll" data-target="#sidebar-nav">
        <p>
            Dear sir, are you sure you want to delete AMQP endpoint <b>{{ data['endpoint'].name }}</b>?
        </p>
        <p>
        <div class="btn-group">
            <button id="back" type="button" class="btn btn-warning btn-sm">No, go back</button>
            <button id="delete" type="button" class="btn btn-success btn-sm">Yep</button>
        </div>
        </p>
    </div>

<script>
$(document).ready(function() {
    function callback(data){
        data = data['amqp/delete'];

        if(data['status'] == 'OK'){
            window.location.href = '/admin/amqp/list';
        } else {
            alert(data['message']);
        }
    }

    $('#back').click(function(){
       window.history.back();
    });

    $('#delete').click(function(){
        var data = 'name={{ data['endpoint'].name }}';
        $.post("/api/amqp_delete", data, callback);
    })
});
</script>

{% endblock %}
