{% extends "_admin/templates/helpers/base.html" %}
{% block content %}

    <div class="content-wrapper" style="min-height: 946px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Crawlbots
                <small>List crawl bots</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Crawlbots</a></li>
                <li><a href="#">List</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Crawl Bots</h3>
                            <small id="crawlbot_counter">0 online</small>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="jsontable_crawlbots" class="display table table-bordered table-striped"
                                   cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th style="width: 30px;">ID</th>
                                    <th style="width: 150px;">Name</th>
                                    <th style="width: 150px;">Hostname</th>
                                    <th style="width: 80px;">JSON-RPC</th>
                                    <th style="width: 80px;">AMQP</th>
                                    <th style="width: 50px;">Status</th>
                                    <th style="width: 50px;"></th>
                                </tr>
                                </thead>
                            </table>

                            <!-- Button trigger modal -->
                            <button style="float:right;" type="button" class="btn btn-success btn-sm"
                                    data-toggle="modal" data-target="#add_modal">
                                +
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>

    <script>
        $(document).ready(function () {
            var crawlbots = {};

            var crawlbots_table = $('#jsontable_crawlbots').DataTable({
                "bFilter": false,
                "bPaginate": false,
                "sDom": '<"top">rt<"bottom"flp><"clear">',
                "createdRow": function (row, data, index) {
                    row.id = data[0];

                    for (var i = 0; i != data.length; i++) {
                        if (data[i] == 'OK' || data[i] == 'ONLINE') {
                            $('td', row).eq(i).addClass('bot-ok');
                        } else if (data[i] == 'WARNING') {
                            $('td', row).eq(i).addClass('bot-warning');
                        } else if (data[i] == 'ERROR') {
                            $('td', row).eq(i).addClass('bot-error');
                            $('td:eq(' + i + ')', row).append("<div id='" + data[1] + "' class='btn_crawlbot_error_infobox'></div>");
                        }
                    }

                    if (data[5] == 'ONLINE' || data[5] == 'WARNING') {
                        //$('td:eq(0)', row).append("<div id='online' class='icon_crawlbot'></div>");
                    } else {
                        //$('td:eq(0)', row).append("<div id='offline' class='icon_crawlbot'></div>");
                    }
                },
                "columnDefs": [{
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<button type='button' class='btn btn-default btn-xs btn_bot_details'>Details</button>"
                }],
                "fnDrawCallback": function (oSettings) {
                    console.log('DataTable drawn');
                }
            });

            function callback(data) {
                crawlbots_table.clear();
                crawlbots = {};

                data = data['bot/list'];

                var online_counter = 0;

                for (var i = 0; i < data.length; i++) {
                    var obj = data[i];

                    crawlbots[obj['crawler_name']] = obj;

                    var protocols = ['jsonrpc', 'amqp'];
                    for (var u = 0; u != protocols.length; u += 1) {
                        if (obj[protocols[u]])obj[protocols[u]] = 'enabled';
                        else  obj[protocols[u]] = 'disabled';
                    }

                    if (obj['status'] == 0) {
                        crawlbots_table.row.add(
                                [obj['id'], obj['crawler_name'], obj['hostname'], obj['jsonrpc'], obj['amqp'], 'OFFLINE', '']
                        ).draw(false);
                    }
                    else if (obj['status'] == 1) {
                        crawlbots_table.row.add(
                                [obj['id'], obj['crawler_name'], obj['hostname'], obj['status_jsonrpc']['status'], obj['status_amqp']['status'], 'WARNING', '']
                        ).draw(false);

                        online_counter++;
                    }
                    else if (obj['status'] == 2) {
                        crawlbots_table.row.add(
                                [obj['id'], obj['crawler_name'], obj['hostname'], obj['status_jsonrpc']['status'], obj['status_amqp']['status'], 'ONLINE', '']
                        ).draw(false);

                        online_counter++;
                    }
                }

                $('#crawlbot_counter').text(online_counter + ' online');
            }

            $('body').on('click', 'div.btn_crawlbot_error_infobox', function () {
                var id = $(this).attr('id');
                var obj = crawlbots[id];

                var data = [];

                if (obj['status_amqp']['status'] == 'ERROR') {
                    data.push(obj['status_amqp']['message']);
                }

                if (obj['status_jsonrpc']['status'] == 'ERROR') {
                    data.push(obj['status_jsonrpc']['message']);
                }

                var error_message = '';

                for (var i = 0; i != data.length; i++) {
                    error_message += '<h4>Error</h4>';
                    error_message += '<p>' + data[i] + '</p>';
                }

                BootstrapDialog.show({
                    title: id,
                    message: error_message
                });
            });

            $('body').on('click', '.btn_bot_details', function () {
                var id = $(this).parent().parent().attr('id');
                //window.location.href = '/admin/bot/' + id;
            });

            setInterval(function () {
                $.getJSON("/api/bot/list", callback);
            }, 3000);


            $.getJSON("/api/bot/list", callback);
        });
    </script>

{% endblock %}