{% extends "_admin/templates/helpers/base.html" %}
{% block content %}

    <div id="content" class="col-xs-13 col-sm-10" data-spy="scroll" data-target="#sidebar-nav">
        <h3>General</h3>
        <p>
            <div class="row">
                <div class="col-md-6">
                    Under
                </div>
                <div class="col-md-6">
                    Construction
                </div>
            </div>
        </p>
    </div>


<script>

$(document).ready(function() {
    //$.getJSON("/api/themes/list", json_themes);
});
</script>

{% endblock %}
