{% extends "_admin/templates/helpers/base.html" %}
{% block content %}

<style>
#msgbox{
    float: none; margin-top: 20px; margin-bottom:40px;
}

</style>

<div class="menu_top">
    <a href="/" class="menu_item menu_btn" style="width: 104px;">
        <img src="/static/img/logo.png"/>
    </a>

    <div class="menu_item" style="padding-top:6px;">
        <div class="db_counter">
            SETUP
        </div>
    </div>

    <div class="menu_item divider"></div>

    <div class="menu_item menu_btn" style="padding-top:6px;">
        <a class="menu_knopje disabled" href="http://cedsys.nl">CedSys.nl</a>
    </div>
</div>

<div class="wrapper">
    <div style="height:80px;"></div>
</div>

<div class="container">

    <div class="row">
        <legend>First time installation</legend>
        <div class="alert alert-info">
            You're seeing this page because the findex configuration file was not found at <strong>~/.config/findex/gui.cfg</strong>.
        </div>

        <div class="well">
            <h4>Database</h4>
            <form class="form-horizontal">
            <fieldset>

            <!-- Form Name -->

            <!-- Multiple Radios -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="db_type">Engine</label>
              <div class="col-md-4">
              <div class="radio">
                <label for="db_type-0">
                  <input class="db_type" type="radio" name="db_type" id="db_type-0" value="psql" checked="checked">
                  PostgreSQL
                </label>
                </div>
              <div class="radio">
                <label for="db_type-1">
                  <input class="db_type" type="radio" name="db_type" id="db_type-1" value="mysql">
                  MySQL (not supported yet)
                </label>
                </div>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="db_host">Host</label>
              <div class="col-md-4">
              <input id="db_host" name="db_host" type="text" placeholder="database host" class="form-control input-md" required="">
                  <span class="help-block">
                      If you cluster your database hosts and would like to connect to multiple instances, just fill in 1 database host here and change it later in the config file.
                  </span>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="db_port">Port</label>
              <div class="col-md-4">
              <input id="db_port" name="db_port" type="text" placeholder="database port" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="db_name">Name</label>
              <div class="col-md-4">
              <input id="db_name" name="db_name" type="text" placeholder="database name" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="db_user">User</label>
              <div class="col-md-4">
              <input id="db_user" name="db_user" type="text" placeholder="database user" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="db_pass">Password</label>
              <div class="col-md-4">
              <input id="db_pass" name="db_pass" type="password" placeholder="database password" class="form-control input-md" required="">

              </div>
            </div>

            <center>
                <div class="btn-group" style="display:table;">
                    <button id="btn_db_testconn" type="button" class="btn btn-info btn-sm">Test Connection</button>
                </div>
                <div class="col-md-10" id="msgbox">
                    <div class="alert" style="display:none;" id="div_db_testconn">
                        <span id="txt_db_testconn"></span>
                    </div>
                </div>

            </center>

            </fieldset>
            </form>

            <h4>Web Application</h4>
            <form class="form-horizontal">
            <fieldset>

            <!-- Form Name -->
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="gui_host">Bind Host</label>
              <div class="col-md-4">
              <input id="gui_host" name="gui_host" type="text" placeholder="GUI bind host" value="127.0.0.1" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="gui_port">Bind Port</label>
              <div class="col-md-4">
              <input id="gui_port" name="gui_port" type="text" placeholder="GUI bind port" value="2010" class="form-control input-md" required="">

              </div>
            </div>
            </fieldset>
            </form>
            <center>
                <div class="btn-group" style="display:table;">
                    <button id="btn_writecfg" type="button" class="btn btn-success btn-sm">Finish Setup</button>
                </div>
                <span style="display:block;margin-top:10px;font-weight:bold;margin-bottom:40px;" id="txt_writecfg"></span>
            </center>
        </div>

    </div>
</div>

<script>
$(document).ready(function() {
    function db_testconn(data){
        data = data['findex/db_test'];

        $('#div_db_testconn').removeClass();
        $('#div_db_testconn').addClass('alert');
        $('#div_db_testconn').css('display', 'block');

        if(data['status'] == 'FAIL'){
            $('#div_db_testconn').addClass('alert-warning');
            $('#txt_db_testconn').html('Failed: ' + data['message']);
        } else {
            $('#div_db_testconn').addClass('alert-success');
            $('#txt_db_testconn').html('OK: ' + data['message']);
        }
    }

    function write_cfg(data){
        data = data['findex/writecfg'];

        if(data['status'] == 'FAIL'){
            $('#txt_writecfg').html('Failed: ' + data['message']);
        } else {
            window.location.href = '/';
        }
    }

    $('#btn_db_testconn').click(function(){
        var db_type = $('input[name=db_type]:checked').val();
        var db_host = $('#db_host').val();
        var db_port = $('#db_port').val();
        var db_user = $('#db_user').val();
        var db_pass = $('#db_pass').val();
        var db_name = $('#db_name').val();

        var data = "db_type=" + db_type;
        data += "&db_host=" + db_host;
        data += "&db_port=" + db_port;
        data += "&db_user=" + db_user;
        data += "&db_password=" + db_pass;
        data += "&db_name=" + db_name;

        $.post("/api/findex/db_test", data, db_testconn);
    });

    $('#btn_writecfg').click(function(){
        var db_type = $('input[name=db_type]:checked').val();
        var db_host = $('#db_host').val();
        var db_port = $('#db_port').val();
        var db_user = $('#db_user').val();
        var db_pass = $('#db_pass').val();
        var db_name = $('#db_name').val();

        var gui_host = $('#gui_host').val();
        var gui_port = $('#gui_port').val();

        var data = "database_type=" + db_type;
        data += "&database_host=" + db_host;
        data += "&database_port=" + db_port;
        data += "&database_username=" + db_user;
        data += "&database_password=" + db_pass;
        data += "&database_database=" + db_name;

        data += '&gui_bind_host=' + gui_host;
        data += '&gui_bind_port=' + gui_port;

        $.post("/api/findex/writecfg", data, write_cfg);
    });
});
</script>

{% endblock %}