{% extends "_admin/templates/base.html" %}
{% block content %}

    <div class="content-wrapper" style="min-height: 946px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Servers
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Servers</a></li>
                <li><a href="#">List</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body" style="margin-top:40px;">
                            <div class="col-md-12 no-padding">
                                <table id="fancytable_servers" class="display table table-bordered"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th style="width: 150px;">Name</th>
                                        <th style="width: 30px;">Location</th>
                                        <th style="width: 80px;">Protocol</th>
                                        <th>Files</th>
                                        <th>Added</th>
                                        <th>Updated</th>
                                        <th>Options</th>
                                        <th>Group</th>
                                        <th style="width: 30px;"></th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>

                            <div class="col-md-12 no-padding">
                                <a href="server/add">
                                    <button style="float:right;" type="button" class="btn btn-success btn-sm"
                                            data-toggle="modal" data-target="#add_modal"
                                            href="">+</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <style>
        table#fancytable_servers tbody tr:hover{
            background: #f9f9f9;
        }
    </style>

    <script>
        $(document).ready(function() {
            // @TODO: auto-refresh
            // https://www.dynatable.com/#configuration
            // https://github.com/alfajango/jquery-dynatable/issues/180
            let table = $("#fancytable_servers");

            // insert some buttons for the last column
            table.bind('dynatable:afterUpdate', function(e, dynatable){
                let columns = $(e.target).find("tbody > tr > td:last-child");
                $.each(columns, function(i, obj){
                    let resource_id = $($(this).parent().find("td")[1]).html();

                    $(this).html(`
                        <a href="${url_for(`/admin/server/remove/${resource_id}`)}">
                            <span class="fa fa-remove" style="color:red;font-size:16px;float:right;"></span>
                        </a>
                    `);
                });
            });

            function defaultRowWriter(rowIndex, record, columns, cellWriter) {
                var tr = "";
                for (var i = 0, len = columns.length; i < len; i++) {
                    tr += cellWriter(columns[i], record);
                }
                return `<tr data-id="${record.location}">${tr}</tr>`;
            }

{#            $("body").on("click", "table#fancytable_servers tr", function(v, o) {#}
{#                let resource_id = $(this).attr("data-id");#}
{#                let redir = url_for(`/admin/server/${resource_id}`);#}
{#                goto_uri(redir);#}
{#            });#}

            let api = url_for("/api/v2/resource/get");
            let target = table;
            let func_rowWriter = defaultRowWriter;
            let func_drawErrorMsg = msgbox_error;
            FancyTable.init(api, target, func_rowWriter, func_drawErrorMsg);
        });
    </script>

{% endblock %}