{% extends "_admin/templates/base.html" %}
{% block content %}
    {% import '_admin/templates/helpers/_macros.html' as macros %}
    <div class="content-wrapper" style="min-height: 946px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Add Server
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Add Server</a></li>
                <li><a href="#">List</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-5">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#host" data-toggle="tab">Endpoint</a></li>
                            <li><a href="#options" data-toggle="tab">Options</a></li>
                            <li><a href="#authentication" data-toggle="tab">Authentication</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="host">
                                <section id="new">
                                    <div class="row">
                                        <div class="col-md-12">
                                        <form id="add" class="">
                                            {% for field in form_add %}
                                                {{ macros.render_field(field) }}
                                            {% endfor %}
                                        </form>
                                        </div>
                                    </div>
                                </section>
                            </div>

                            <div class="tab-pane" id="options">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form id="options" class="">
                                            {% for field in form_options %}
                                                {{ macros.render_field(field) }}
                                            {% endfor %}
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="authentication">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form id="options" class="">
                                            {% for field in form_auth %}
                                                {{ macros.render_field(field) }}
                                            {% endfor %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="row_msg" class="row" style="display:none;">
                <div class="col-xs-5">
                    <div class="box">
                        <div class="box-body">
                            <span style="color:red;font-weight:bold;" id="msg_error">Error: Duplicate resource previously defined with resource id: 4</span>
                            <span style="color:green;font-weight:bold;" id="msg_success"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-5">
                    <div class="box">
                        <div class="box-body">
                            <div class="btn-group" role="group" aria-label="submit" style="float:right;">
                                <button type="button" id="test_reachability" class="btn btn-secondary">Test reachability</button>
                                <button type="button" id="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <script>
        $(document).ready(function(){
            function msg_add(msg){
                $("#row_msg").css("display", "block");
                $("#msg_error").html("");
                $("#msg_success").html(`${msg}`);
            }

            function msg_add_err(msg){
                $("#row_msg").css("display", "block");
                $("#msg_success").html("");
                $("#msg_error").html(`Error: ${msg}`);
            }

            var get_form_data = function(selector){
                return $(selector).serializeArray().reduce(function(obj, item) {
                    obj[item.name] = item.value;
                    return obj;
            }, {})};

            $("#submit").click(function(){
                let form_add = get_form_data("form#add");
                let form_options = get_form_data("form#options");
                let form_auth = get_form_data("form#auth");

                let data = extend(form_add, form_options);
                data = extend(data, form_auth);

                FindexGui.api("/resource/add", "POST", data).then(function(result){
                    goto_uri(url_for("/admin/servers"));
                }).fail(function(result){
                    let msg = FindexGui.api_unpack_error(result);
                    if(msg){
                        msg_add_err(msg);
                    } else {
                        msg_add_err(`Could not add resource`);
                    }
                });
            });

            $("#test_reachability").click(function(){
                let form_add = get_form_data("form#add");
                let form_auth = get_form_data("form#auth");
                let data = extend(form_add, form_auth);
                data = extend(data, form_auth);

                let d = {
                    "port": parseInt(data.resource_port),
                    "protocol": data.resource_protocol,
                    "address": data.server_address,
                    "user": data.auth_user,
                    "pwd": data.auth_pass,
                    "auth_type": data.auth_type
                };

                FindexGui.api("/admin/server/test", "POST", d).then(function(result){
                    if(result.data == true){
                        msg_add("All good chief!");
                    } else {
                        msg_add_err("Unreachable");
                    }
                }).fail(function(result){
                    console.log(result);
                    msg_add_err("Unreachable");
                });
            });
        });
    </script>
{% endblock %}