<a href="/" class="menu_item menu_btn" style="width: 104px;">
    <img src="/static/img/logo.png"/>
</a>

<div class="menu_item" style="padding-top:6px;">
    <div class="db_counter">
        {{ ('{:,}').format(env['db_file_count']) }}
    </div>
</div>

<div class="menu_item divider"></div>

<div class="menu_item menu_btn" style="padding-top:6px;">
    <a class="menu_knopje disabled" href="/">Home</a>
</div>

<div class="menu_item menu_btn" style="padding-top:6px;">
    <a class="menu_knopje disabled" href="/search">Search</a>
</div>

<div class="menu_item menu_btn" style="padding-top:6px;">
    <a class="menu_knopje disabled" href="/research/">Research</a>
</div>

<div class="menu_item menu_btn" style="padding-top:6px;">
    <a class="menu_knopje disabled" href="/documentation/">Documentation</a>
</div>
