{% extends "_admin/templates/helpers/base.html" %}
{% block content %}

{% include '_admin/templates/navigation/header.html' %}

<div class="container" style="margin-top: 40px;">
    <div class="row row-offcanvas row-offcanvas-left" id="canvas">

        <!-- sidebar -->
        <div class="col-xs-5 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
            {% include '_admin/templates/navigation/sidebar.html' %}
        </div>

        <!-- main area -->
        <div id="content" class="col-xs-13 col-sm-10" data-spy="scroll" data-target="#sidebar-nav">
            <h3>Under construction</h3>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {

});
</script>

{% endblock %}
