{% extends "_admin/templates/helpers/base.html" %}
{% block content %}

    <div id="content" class="col-md-6">

        <p>
            <form class="form-horizontal">
        <fieldset>

        <!-- Form Name -->

        <!-- Multiple Radios -->
        <div class="form-group">
          <label class="col-md-3 control-label" for="amqp_type">Broker</label>
          <div class="col-md-5">
          <div class="radio">
            <label for="amqp_type-0">
              <input class="amqp_type" type="radio" name="amqp_type" id="amqp_type-0" value="psql" checked="checked">
              RabbitMQ
            </label>
            </div>
{#              <div class="radio">#}
{#                <label for="amqp_type-1">#}
{#                  <input class="amqp_type" type="radio" name="amqp_type" id="amqp_type-1" value="mysql">#}
{#                  ZeroMQ (not supported yet)#}
{#                </label>#}
{#                </div>#}
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-3 control-label" for="amqp_name">Name</label>
          <div class="col-md-5">
          <input id="amqp_name" name="amqp_name" type="text" placeholder="Endpoint name" class="form-control input-md" required="">
            <span class="help-block">
              Anything will do
            </span>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-3 control-label" for="amqp_host">Host</label>
          <div class="col-md-5">
          <input id="amqp_host" name="amqp_host" type="text" placeholder="host" class="form-control input-md" required="">
            <span class="help-block">
             The RabbitMQ host
            </span>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-3 control-label" for="amqp_port">Port</label>
          <div class="col-md-5">
          <input id="amqp_port" name="amqp_port" type="text" placeholder="port" class="form-control input-md" required="">
              <span class="help-block">
                  Default RabbitMQ port is 5672
              </span>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-3 control-label" for="amqp_username">Username</label>
          <div class="col-md-5">
          <input id="amqp_username" name="amqp_username" type="text" placeholder="username" class="form-control input-md" required="">

          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-3 control-label" for="amqp_pass">Password</label>
          <div class="col-md-5">
          <input id="amqp_pass" name="amqp_pass" type="password" placeholder="password" class="form-control input-md" required="">

          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-3 control-label" for="amqp_vhost">virtual host</label>
          <div class="col-md-5">
          <input id="amqp_vhost" name="amqp_vhost" type="text" placeholder="vhost" class="form-control input-md" required="">
              <span class="help-block">
                  A virtual host is something you made when you were configuring RabbitMQ. If you followed the Findex 'RabbitMQ' installation tutorial, the vhost would be 'indexer'.
              </span>
          </div>
        </div>

        <center>
            <div class="btn-group" style="display:table;">
                <button id="btn_amqp_testconn" type="button" class="btn btn-info btn-sm">Test Connection</button>
                <button id="btn_add" type="button" class="btn btn-success btn-sm">Add</button>
            </div>
            <div class="col-md-10" id="msgbox">
                <div class="alert" style="display:none;margin-top:20px;padding: 4px;" id="div_amqp_testconn">
                    <span id="txt_amqp_testconn"></span>
                </div>
            </div>

        </center>

        </fieldset>
        </form>
        </p>
    </div>

<script>
$(document).ready(function() {
    function callback(data){
        if(data.hasOwnProperty("amqp/test")){
            data = data['amqp/test'];

            $('#div_amqp_testconn').removeClass();
            $('#div_amqp_testconn').addClass('alert');
            $('#div_amqp_testconn').css('display', 'block');

            if(data['status'] == 'FAIL'){
                $('#div_amqp_testconn').addClass('alert-warning');
                $('#txt_amqp_testconn').html('Failed: ' + data['message']);
            } else {
                $('#div_amqp_testconn').addClass('alert-success');
                $('#txt_amqp_testconn').html('OK: AMQP endpoint reachable');
            }
        }
        else if(data.hasOwnProperty("amqp/add")){
            data = data['amqp/add'];

            $('#div_amqp_testconn').removeClass();
            $('#div_amqp_testconn').addClass('alert');
            $('#div_amqp_testconn').css('display', 'block');

            if(data['status'] == 'FAIL'){
                $('#div_amqp_testconn').addClass('alert-warning');
                $('#txt_amqp_testconn').html('Failed adding: ' + data['message']);
            } else {
                window.location.href = '/admin/amqp/list';
            }
        }
    }

    $('#btn_amqp_testconn').click(function(){
        var amqp_type = $('input[name=amqp_type]:checked').val();
        var amqp_host = $('#amqp_host').val();
        var amqp_port = $('#amqp_port').val();
        var amqp_username = $('#amqp_username').val();
        var amqp_pass = $('#amqp_pass').val();
        var amqp_name = $('#amqp_name').val();
        var amqp_vhost = $('#amqp_vhost').val();

        var data = "type=" + amqp_type;
        data += "&host=" + amqp_host;
        data += "&port=" + amqp_port;
        data += "&username=" + amqp_username;
        data += "&password=" + amqp_pass;
        data += "&name=" + amqp_name;
        data += "&vhost=" + amqp_vhost;

        $.post("/api/amqp_test", data, callback);
    });

    $('#btn_add').click(function(){
        var amqp_type = $('input[name=amqp_type]:checked').val();
        var amqp_host = $('#amqp_host').val();
        var amqp_port = $('#amqp_port').val();
        var amqp_username = $('#amqp_username').val();
        var amqp_pass = $('#amqp_pass').val();
        var amqp_name = $('#amqp_name').val();
        var amqp_vhost = $('#amqp_vhost').val();

        var data = "type=" + amqp_type;
        data += "&host=" + amqp_host;
        data += "&port=" + amqp_port;
        data += "&username=" + amqp_username;
        data += "&password=" + amqp_pass;
        data += "&name=" + amqp_name;
        data += "&vhost=" + amqp_vhost;

        //$.post("/api/amqp_add", data, callback);
    });
});
</script>
{% endblock %}