{% extends "_admin/templates/helpers/base.html" %}
{% block content %}

    <div id="content" class="col-xs-13 col-sm-12" data-spy="scroll" data-target="#sidebar-nav">
        <h5 id="amqpendpoint_counter">0 online</h5>

        <p>
            <table id="jsontable_amqpendpoint" class="display table table-bordered table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th style="width: 80px;">Name</th>
                        <th style="width: 150px;">Host</th>
                        <th style="width: 80px;">Port</th>
                        <th style="width: 80px;">User</th>
                        <th style="width: 50px;">vhost</th>
                        <th style="width: 50px !important;"></th>
                    </tr>
                </thead>
            </table>
            <a href="/admin/task/add">
                <button style="float:right;" type="button" class="btn btn-success btn-sm">Add new task</button>
            </a>
        </p>
    </div>

<script>
$(document).ready(function() {
    var amqp_endpoints_table = $('#jsontable_amqpendpoint').DataTable({
        "bFilter": false,
        "bPaginate": false,
        "sDom": '<"top">rt<"bottom"flp><"clear">',
        "createdRow": function ( row, data, index ) {
            row.id = data[0];
        },
        "columnDefs": [ {
            "targets": -1,
            "data": null,
            "defaultContent": "<div class='btn-group' style='display:flex;'><button type='button' class='btn btn-default btn-xs btn_amqp_details'>Details</button><button type='button' class='btn btn-error btn-xs btn_amqp_delete'>Delete</button></div>"
        }],
        "fnDrawCallback": function (oSettings) {
            console.log('DataTable drawn');
        }
    });

    function callback(data){
        amqp_endpoints_table.clear();

        data = data['amqp/list'];

        var counter_text = data.length + ' endpoint';
        if(data.length > 1) counter_text += 's';
        $('#amqpendpoint_counter').text(counter_text);

        for (var i = 0; i < data.length; i++) {
            var obj = data[i];

            amqp_endpoints_table.row.add(
                [obj['name'], obj['host'], obj['port'], obj['username'], obj['virtual_host']]
            ).draw(false);

        }
    }

    $('body').on('click', '.btn_amqp_details', function(){
        var id = $(this).parent().parent().parent().attr('id');
        window.location.href = '/admin/amqp/' + id;
    });

    $('body').on('click', '.btn_amqp_delete', function(){
        var id = $(this).parent().parent().parent().attr('id');
        window.location.href = '/admin/amqp/' + id + '/delete';
    });

    setInterval(function(){
        //$.getJSON( "/api/amqp/list", callback);
    }, 5000);


    //$.getJSON( "/api/amqp/list", callback);
});
</script>
{% endblock %}