<style>
    .breadcrumb > li + li:before {
        content: ">";
        color: #999999;

    }
</style>
<ol class="breadcrumb">
    {% for i in range(0, data['breadcrumbs'] | length) %}
        {% set crumb = data['breadcrumbs'][i] %}
        {% set href = ('../'*(data['breadcrumbs'] | length - i-1))[:-1] %}

        {% if i+1 == data['breadcrumbs'] | length %}
            {% set active = True %}
        {% else %}
            {% set active = False %}
        {% endif %}

        {% if i == 0 %}
            <li>
                <div id="fa">
                    <i class="fa fa-desktop fa-fw"></i>
                </div>

                <a style="font-weight: 600;" class="{{"active" if active else "unactive"}}" href="{{href if not active else "."}}/">{{crumb}}</a></li>
        {% else %}
            <li><a class="{{"active" if active else "unactive"}}" href="{{href if not active else "."}}/">{{crumb}}</a></li>
        {% endif %}

    {% endfor %}
</ol>