<style>
    footer>#container{
      padding-top: 20px;
    }
</style>

<footer id="colophon" class="site-footer" role="contentinfo">
    <div id="container" style="width: 85%;min-height: 140px;">
        <div id="footer_nav">
            <div class="footer_nav_block first site">
                <p>Findex</p>
                <div class="menu-findex-footer-menu-container">
                    <ul id="menu-findex-footer-menu" class="menu">
                        <li id="menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-20">
                            <a href="http://findex.cedsys.nl/">Home</a>
                        </li>
                        <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21">
                            <a href="http://findex.cedsys.nl/documentation/">Documentation</a>
                        </li>
                        <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22">
                            <a href="http://findex.cedsys.nl/research/">Research</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer_nav_block utility">
                <p>CED</p>
                <div class="menu-information-footer-menu-container">
                    <ul id="menu-information-footer-menu" class="menu">
                        <li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14">
                            <a href="http://cedsys.nl/">Home</a>
                        </li>
                        <li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16">
                            <a href="http://cedsys.nl/about/">About</a>
                        </li>
                        <li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15">
                            <a href="http://cedsys.nl/contact/">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="footer_copyright">
            <div id="site_branding">
                <a id="footer_logo" href="http://findex.cedsys.nl/"></a>
                <a id="made_by" href="http://cedsys.nl/">CED systems</a>
                <div class="clear"></div>
            </div>

            <div id="copyright_widget_area">
                <p>MIT License. Read the <a id="terms" href="/terms">Terms of Use</a></p>
            </div>
        </div>

        <div class="clear"></div>
    </div>
</footer>