- name: install packages (debian based)
  apt: name={{ item }} state=present
  tags: nginx
  with_items:
    - nginx
    - nginx-extras
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  notify: start nginx

- name: create nginx conf dirs
  file: path=/etc/nginx/{{ item }} state=directory
  tags: nginx
  with_items:
    - sites-available
    - sites-enabled

- name: remove nginx default config
  file: path=/etc/nginx/sites-enabled/default state=absent
  tags: nginx
  notify: reload nginx

- name: add nginx global config
  template: src=nginx.conf dest=/etc/nginx/nginx.conf
  tags: nginx

- name: Clean artifact path
  file:
    state: absent
    path: /etc/nginx/sites-available/default

- name: add nginx default config
  template: src=default.conf dest=/etc/nginx/sites-available/default.conf
  tags: nginx
  notify: reload nginx
