{% extends "bucket/templates/base.html" %}
{% block content %}
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">

    <style>
    </style>

<div class="container">
    <div class="row">

        <!-- main area -->
        <div id="content" class="col-xs-4 col-sm-6" data-spy="scroll" style="padding-left: 40px;">
            <h2 id="section1">Mass FTP Crawling</h2>
            <h5>By dsc - August 2015</h5>
            <p>
                The combination of interesting files one can find on public FTP servers plus the technical expertise required to make a
                decent search engine motivated me to write Findex and ultimately this article.
            </p>

            <br>
            <h4>This is an old issue</h4>
            <p>
                This article is by no means presented as 'new'. However, given the fact I was still able to collect
                enormous amount of private files I'd say this deserves some attention.
            </p>
            <br>
            <h2 id="scanning">Scanning</h2>
            <h4>
                Disclaimer
            </h4>
            <p>
                </p><div class="alert alert-info">
                    <b>Warning:</b><br>
                    <ul>
                        <li>Alltough not illegal, mass portscanning is a great way to get kicked off your ISP. I would not recommend doing that from your home connection.</li>
                        <li>Indexing/crawling many FTP servers might also not be to the liking of your ISP.</li>
                        <li>Traversing public FTP servers is not illegal, however,  it is the reader's responsibility to obey all applicable local, state and federal laws.</li>
                        <li>I indexed the files, not downloaded them.</li>
                        <li>This article is presented as research. Nothing more.</li>
                    </ul>
                </div>
            <p></p>
            <br>
            <p>
                I decided to concentrate on public FTP servers located in my own country, The Netherlands.
            </p>
            <p>
                I used a list of ip blocks belonging to Dutch internet providers and started my scan.
                Due to the fact Findex can do distributed scans and crawls it only took half a day.
            </p>
            <p>
                It resulted in <strong>257.807</strong> discovered FTP servers of which <strong>7578</strong> required no form of authentication.
                I filtered the list of servers that did not contain any files and got to <strong>2359</strong> public FTP servers.
                From those I was able to discover <strong>18.088.392</strong> files, a little over <strong>18 million</strong>.
            </p>
            <p>
                I now had indexed every single file stored on a public FTP server located in The Netherlands.
            </p>
            <p>
                </p><ul>
                    <li><b>257.807</b> FTP's</li>
                    <li><b>7578</b> public FTP's - <b>2.9%</b></li>
                    <li><b>2359</b> public FTP's containing files - <b>0.9%</b></li>
                    <li><b>18.088.392</b> files</li>
                    <li><b>438.994</b> terabyte</li>
                </ul>
            <p></p>
            <p>
                I forgot to look at write permissions, so unfortunately I do not have these statistics for you.
            </p>
            <br><br>

            <h4 id="domains">Domains - Top 13</h4>

            <p>
                </p><table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th style="max-width: 180px;">Domain</th>
                            <th>Public FTP Servers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td><b>ziggo.nl</b></td>
                            <td>397</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td><b>chello.nl</b></td>
                            <td>153</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td><b>direct-adsl.nl</b></td>
                            <td>95</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td><b>alphamegahosting.com</b></td>
                            <td>98</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td><b>xs4all</b></td>
                            <td>90</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td><b>kpn.net</b></td>
                            <td>76</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td><b>planet.nl</b></td>
                            <td>73</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td><b>zeelandnet.nl</b></td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td><b>caiway.nl</b></td>
                            <td>46</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td><b>hetnet.nl</b></td>
                            <td>46</td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td><b>telfortglasvezel.nl</b></td>
                            <td>42</td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td><b>upc.nl</b></td>
                            <td>41</td>
                        </tr>
                        <tr>
                            <td>13.</td>
                            <td><b>ziggozakelijk.nl</b></td>
                            <td>32</td>
                        </tr>
                    </tbody>
                </table>
            <p></p>
            <br>
            <p>
                All entries in the list are dutch ISPs <u>except</u> for the 4th place which seems to be a
                hosting company. Servers there probably come with a default public FTP account.
            </p>
            <br><br>

            <h4 id="geo">Location</h4>
            <p>
                I did a lookup on all the IP addresses and figured out their physical locations.
            </p>
            <br>
            <p>
                <img src="http://imgur.com/NMtBQQk.png" width="600">
            </p>
            <p>
                The province of 'Drenthe' has the lowest amount of public FTP servers. This is probably due to
                a low population density. 'Noord-Holland' has the highest amount, which also reflects the province's population density.
            </p>
            <br>
            <h4 id="categories">File categories</h4>

            <p>
                The following table shows the distribution of file categories.
            </p>
            <p>
                </p><pre>SELECT file_format,sum(file_size),count(*) FROM files WHERE file_isdir != TRUE GROUP BY file_format;</pre>
            <p></p>
            <p>
                </p><table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="max-width: 180px;width:220px;">Category</th>
                            <th style="width:150px;">Files</th>
                            <th>Percentage</th>
                            <th>Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Documents</b></td>
                            <td>1997107</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:11%">
                                        11%
                                    </div>
                                </div>
                            </td>
                            <td>1.7 TB</td>
                        </tr>
                        <tr>
                            <td><b>Movies</b></td>
                            <td>282306</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:1.5%">
                                        1.5%
                                    </div>
                                </div>
                            </td>
                            <td>75.3 TB</td>
                        </tr>
                        <tr>
                            <td><b>Music</b></td>
                            <td>1046560</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:5%">
                                        5%
                                    </div>
                                </div>
                            </td>
                            <td>8.6 TB</td>
                        </tr>
                        <tr>
                            <td><b>Pictures</b></td>
                            <td>5175332</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:28%">
                                        28%
                                    </div>
                                </div>
                            </td>
                            <td>8.8 TB</td>
                        </tr>
                        <tr>
                            <td><b>Unidentified Files</b></td>
                            <td>9587087</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:53%">
                                        53%
                                    </div>
                                </div>
                            </td>
                            <td>344 TB</td>
                        </tr>
                    </tbody>
                </table>
            <p></p>

            <p>
                Surprisingly, 28% of all the files collected were pictures (5 million!).
            </p>

            <p>
                I searched a bit through the data and concluded that most pictures were photographs.
            </p>

            <br>
            <p>
                </p><center><img src="http://imgur.com/ATZRin0.png"></center>
            <p></p>
            <br>

            <p>
                Most of the photos I found were part of a collection. This means that people use
                their public FTP server as a backup device for their personal photographs.
            </p>
            <br><br>
            <h4 id="extensions">File Extensions - Top 10</h4>
            <p>
                The following table shows the 10 most popular file extensions.
            </p>
            <p>
                </p><pre>SELECT file_ext, count(*) FROM files WHERE file_isdir != TRUE GROUP BY file_ext ORDER BY count(*) DESC LIMIT 10;</pre>
            <p></p>
            <p>
                </p><table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th style="max-width: 180px;">Extension</th>
                            <th>Files</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td><b>.jpg</b></td>
                            <td>4.114.712</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td><b>.deb</b></td>
                            <td>2.039.029</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td><b>.mp3</b></td>
                            <td>869.530</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td><b>.pdf</b></td>
                            <td>720.040</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td><b>.png</b></td>
                            <td>577.334</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td><b>.rpm</b></td>
                            <td>550.756</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td><b>.gz</b></td>
                            <td>466.525</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td><b>.html</b></td>
                            <td>336.627</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td><b>.txt</b></td>
                            <td>250.380</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td><b>.dsc</b></td>
                            <td>195.674</td>
                        </tr>
                    </tbody>
                </table>
            <p></p>
            <br><br>
            <h4 id="sensitive">Sensitive Files</h4>
            <p>
                And now for the more juicy stuff... Sensitive files can be found by searching for them.
            </p>
            <p>
                </p><pre>SELECT count(*) from FILES WHERE file_isdir != True AND file_format=1 AND searchable like 'keyword%';</pre>
            <p></p>
            <p>
                </p><table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 280px;">Keyword</th>
                            <th style="width: 60px;">Files</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>'wachtwoord' and 'password'</b></td>
                            <td>396</td>
                            <td>'wachtwoord' means 'password' in Dutch. Text documents came up with lists of passwords</td>
                        </tr>
                        <tr>
                            <td><b>passport</b></td>
                            <td>192</td>
                            <td>Images and documents of passports</td>
                        </tr>
                        <tr>
                            <td><b>belastingaangifte</b></td>
                            <td>517</td>
                            <td>'belastingaangifte' means 'tax return' in Dutch. Tax documents came up.</td>
                        </tr>
                        <tr>
                            <td><b>'factuur' and 'invoice'</b></td>
                            <td>4544</td>
                            <td>'factuur' means 'invoice' in Dutch. <u>A lot</u> of invoices came up.</td>
                        </tr>
                        <tr>
                            <td><b>creditcard</b></td>
                            <td>139</td>
                            <td>Photos and documents of creditcards</td>
                        </tr>
                        <tr>
                            <td><b>gemeente</b></td>
                            <td>614</td>
                            <td>'gemeente' means 'local authority' in Dutch. Goverment related documens came up.</td>
                        </tr>
                        <tr>
                            <td><b>wp-config.php</b></td>
                            <td>32</td>
                            <td>Configuration file for Wordpress</td>
                        </tr>
                        <tr>
                            <td><b>configuration.php</b></td>
                            <td>61</td>
                            <td>Configuration file for Joomla</td>
                        </tr>
                        <tr>
                            <td><b>config.php</b></td>
                            <td>428</td>
                            <td>Configuration files for various other web applications</td>
                        </tr>
                        <tr>
                            <td><b>passwd</b></td>
                            <td>82</td>
                            <td>Information file about users on unix systems</td>
                        </tr>
                    </tbody>
                </table>
            <p></p>
            <p>
                I viewed a few of the files and they were indeed what the filenames depicted.
            </p>
            <br>
            <p>
                <img style="width:100%" src="http://i.imgur.com/1tCmJWo.png">
            </p>
            <br>

            <p>
                The most sensitive files I found were documents belonging to a certain court, which described in detail
                information about court hearings and cases and personal information about the people involved (judges, defendants, lawyers, etc).
            </p>
            <p>
                There was also a lot of documents belonging to a company that does 'property valuation'. There were floor plans,
                prices and other stuff of universities, police stations and big companies.
            </p>
            <br>
            <h2 id="responsible">Responsible Disclosure</h2>
            <p>
                I will not publish any of these documents or pictures. But I will also not notify the affected
                parties in question for the following 2 reasons:
            </p>
                <ul>
                    <li>Retaliation</li>
                    <li>Too many hosts</li>
                </ul>
            <p>
                I've already been kicked off my ISP once for responsibly alerting
                someone on a vulnerability and I can tell you it is not fun. Also, I'd say more than half of all the
                public FTP servers I was able to gather were public by accident and exposing sensitive files. This would mean
                I'd have to warn 2500+ people or companies. ;D
            </p>
            <br>
            <h2 id="conclusion">Conclusion</h2>
            <p>
                Many public FTP servers on the internet are still hosting sensitive files, in the year 2015.
                I had the ability to download a wide variety of sensitive documents and most surely other people
                are doing this too.
            </p>
            <br>
        </div>
        <!-- /.col-xs-12 main -->
    </div>
    <!--/.row-->
</div>

{% endblock %}
