html, body, .container-fluid, .row {
	height: 100%;
}
table#jsontable_crawlbots>tbody>tr>td.bot-ok{
    background-color: #FBFBFB;
    font-weight: bold;
    color: green;
}
table#jsontable_crawlbots>tbody>tr>td.bot-warning{
    font-weight: bold;
    color: darkorange;
    background-color: #FBFBFB;
}
table#jsontable_crawlbots>tbody>tr>td.bot-error{
    font-weight: bold;
    color: red;
    background-color: #FBFBFB;
}
table#jsontable_crawlbots>tbody>tr>td>div.btn_crawlbot_error_infobox{
    width:20px;
    height:20px;
    float:right;
    background-image: url('/static/img/questionmark.gif');
    background-repeat: no-repeat;
    background-position-x:4px;
    background-position-y:2px;
    cursor: pointer;
}
table#jsontable_crawlbots>tbody>tr>td:first-child>div.icon_crawlbot{
    width:26px;
    height:26px;
    background-size: contain;
    background-repeat: no-repeat;
}
div.icon_crawlbot#online{
    background-image: url('/static/img/spider2.png');
}
div.icon_crawlbot#offline{
    background-image: url('/static/img/spider.png');
}
table#jsontable_crawlbots>thead>tr>th{
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
    margin: 8px;
}
table#jsontable_crawlbots>tbody>tr>td{
    font-size:14px;
}

.header_top{
    overflow:hidden;
    height:42px;
    width:100%;
    background-color:#212121;
    border-right: 10px solid #3C3C3C;
}

.header_top>span{
    margin-left: 16px;
    margin-top: 10px;
    color: #E2E2E2;
    font-size: 18px;
    display: block;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.menu_top{
    background-image: linear-gradient(to right, rgba(32, 90, 144, 0.75), rgba(78, 133, 165, 0.75));
    font-size:16px;
    z-index:1337;
    border-bottom: 1px solid rgb(13, 134, 187);
    width:100%;
    height:46px;
    float:left;
    overflow:hidden;
    bottom: 0;
    position: fixed;
}

.menu_top>.menu_item{
    float:left;
    height:46px;
}

.menu_top>.menu_btn{
    cursor:pointer;
    margin-right:6px;
}

.menu_top>.divider{
    background:black;
    height:26px;
    margin-top:10px;
    width:1px;
    margin-left:10px;
    margin-right:10px;
    opacity:.1;
}

#navbar>.menu_item>.menu_knopje{
    float:left;
    height:22px;
    font-weight: 500;
    color: white;
    margin-left:6px;
    margin-top: 8px;
    font-size: 14px;
}

.menu_top>.menu_item>.db_counter{
    float: left;
    padding-top: 8px;
    color: white !important;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.menu_top>.menu_item>.disabled ,.disabled:hover{
    color:white !important;
    text-decoration:none;
}

h3{
    margin-top:0px;
    color: #4994CC;
}

.container{
    width:100%;
    margin: 0;
}

.container>#canvas>#sidebar{
    padding-left:0px;
}

.sidebar {
  display: block;
  float: left;
    padding-left:0px;
    margin-left:0px;
    padding-right:0px;
    margin-right:0px;
  background: #333;
    width:12% !important;
}
.content {
  display: block;
  overflow: hidden;
  width: auto;
}

.col-md-offset-2 {
    margin-left: 12% !important;
}
.sidebar-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(left, color-stop(#333333 10px), color-stop(#222222 10px));
  background-image: linear-gradient(to right, #333333 10px, #222222 10px);
  background-repeat: repeat-x;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1);
}
.sidebar-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav a, .sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a:active {
  outline: none;
}
.sidebar-nav ul li, .sidebar-nav ul a {
  display: block;
}
.sidebar-nav ul a {
  padding: 10px 20px;
  color: #aaa;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.sidebar-nav ul a:hover, .sidebar-nav ul a:focus, .sidebar-nav ul a:active {
  color: #fff;
  text-decoration: none;
}
.sidebar-nav ul ul a {
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.1);
}
.sidebar-nav ul ul a:hover, .sidebar-nav ul ul a:focus, .sidebar-nav ul ul a:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidebar-nav-item {
  padding-left: 5px;
}
.sidebar-nav-item-icon {
  padding-right: 5px;
}

@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    background-color: #212121;
  }
}

div#header {
    height: 42px;
    background-image: url('/static/img/logo.png');
    background-repeat: no-repeat;
    background-position-y: -2px;
    background-position-x: -18px;
}
div#header>span {
    color: white;
    margin-left: 90px;
    padding-top: 11px;
    display: block;
    font-size: 14px;
}

ul.collapsing>li.active{
    background-color: rgba(255, 255, 255, 0.2);
}

ul.collapse>li.active{
    /*background-color: rgba(255, 255, 255, 0.2);*/
}

ul.collapse>li.active>a {
    color:#D2D2D2;
    cursor:default;
}

.btn-success {
    color: #FFF;
    background-color: #6FAF6F;
    border-color: #808E77;
}
.btn-success:hover {
    color: #FFF;
    background-color: #8bd78b;
    border-color: #808E77;
}
.btn-warning {
    color: #fff;
    background-color: #CCA772;
    border-color: #A79C4E;
}

a.sidebar_item_active{
    background-color: rgba(255, 255, 255, 0.18) !important;
}

li.indent>a{
    padding-left: 60px !important;
}

li.deep>a{
    padding-left:80px !important;
}