{{ "="*71 }}
    {{ yellow("Welcome to Findex, this appears to be your first run!") }}
    We will now set you up with our default configuration.
    You will be able to see and modify the Findex configuration
    by exploring the {{ red(cwd()) }} directory.

    Among other configurable items of most interest is the
    new location for your Findex configuration:
              {{ red(cwd("conf")) }}
{{ "="*71 }}