{% extends "bucket/templates/base.html" %}
{% block content %}
    <style>
        div.bg_container{
            width: 100%;
            height: 298px;
            bottom: 0;
            padding-top: 20px;
            background: #bcd3e6;
        }
        div.bg_container>div{
            overflow:hidden;
        }
        div.bg_repeat{
            background-image: url({{ url_for("static", filename="themes/bucket/static/img/login_bg_repeat.png") }});
            background-position: right center;
            height: 278px;
            background-size: contain;
            width: auto;
            overflow: hidden;
        }
        div.bg_leftcorner{
            background-image: url({{ url_for("static", filename="themes/bucket/static/img/login_bg_leftcorner_33c3.png") }});
            width: 460px;
            height: 278px;
            bottom: 0;
            right: 0;
            float: right;
            background-size: contain;
        }
        .divider{
            border-bottom: 1px solid #c7c7c7;
            width: 100%;
            background: #e6e6e6;
            text-align: center;
        }
    </style>

    <div class="bg_container">
        <div class="bg_leftcorner"></div>
        <div class="bg_repeat"></div>
    </div>

    <div class="divider">
    &nbsp;
    </div>

{% endblock %}
