{% extends "bucket/templates/base.html" %}
{% block content %}

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <h3>{{ _('Browse Servers') }}</h3>
                    </div>
                    <div class="col-md-5">

                    </div>
{#                    <div class="col-md-4">#}
{#                        <h4>{{ _('Top 5') }}</h4>#}
{#                    </div>#}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                    <div class="col-md-8">
                        {% if not resources %}
                            None indexed yet.
                        {% else %}
                        <style>
                            tr{
                                cursor:pointer;
                            }
                            .table>thead>tr>th {
                                vertical-align: bottom;
                                border-bottom: 0px solid #ddd;
                            }
                        </style>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Server</th>
                                    <th>Files</th>
                                    <th>Speed</th>
                                    <th>Updated</th>
                                    <th>Status</th>
                                    <th>Banner</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for r in resources %}
                            <tr class="clickable text-nowrap" data-id="1" data-name="{{ r.resource_id }}" rel="popover" title="">
                                <td>
                                    <i class="fa fa-server"></i>
                                    {{ r.server.name }}
                                </td>
                                <td>{{ r.server.address }}:{{ r.port }} ({{ r.protocol_human }})</td>
                                <td><b>{{ r.meta.file_count }}</b></td>
                                <td>
                                    {% if r.meta.response_time %}
                                        {{ r.meta.response_time }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{{ r.ago }}</td>
                                <td>{{ r.status_human }}</td>
                                <td>
                                    {% if r.meta.banner %}
                                        {{ r.meta.banner[:20] }}
                                    {% endif %}
                                </td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
{#                    <div class="col-md-4">#}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-heading">foo#}
{#                            </div>#}
{#                            <div class="panel-body">#}
{#                                <p>#}
{#                                     bar#}
{#                                </p>#}
{#                            </div>#}
{#                            <div class="panel-footer">#}
{#                                <div class="rating">#}
{#                                    <i class="glyphicon glyphicon-star"></i>#}
{#                                    <i class="glyphicon glyphicon-star"></i>#}
{#                                    <i class="glyphicon glyphicon-star"></i>#}
{#                                    <i class="glyphicon glyphicon-star-empty"></i>#}
{#                                    <i class="glyphicon glyphicon-star-empty"></i>#}
{#                                    <div class="pull-right">#}
{#                                        127.0.0.1#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>

    <script>
    $(document).ready(function(){
        $(document).on("click", "table tbody tr",  function(){
            var name = $(this).attr("data-name");
            goto_uri(url_for("/browse/" + name + "/"));
        });

    });
    </script>
{% endblock %}
