{% extends "bucket/templates/base.html" %}
{% block content %}

<style>
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
}
#sidebar-wrapper .information {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 14px;
    margin-bottom: 12px;
    color: #969696;
}
#sidebar-wrapper .information td{
    padding-left: 14px;
    vertical-align: middle;
}
h3.title{
    padding-bottom: 0px;
    margin-bottom: 4px;
}
.browse_footer {
    padding-left: 0px;
    padding-right: 0px;
    position:absolute;bottom:0;width: 100%;
}
.browse_footer .container{
    width: 100%;
    background: #f5f5f5;
    overflow:hidden;
    border-top: 1px solid #ccc;
    padding:4px;
    color:#ababab;
    padding-right:14px;
    padding-left:14px;
}

.browse_footer .container span:first-child{
    font-size: 12px;
}

</style>
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="header">
            <div class="cont">
                <div class="icon">
                    <img height="70px" src="{{ url_for("static", filename="img/default_thumbnail2.png") }}"/>
                </div>
                <div class="description">
                    <b style="color: #5D5D5D">{{ browser.resource.server.name }}</b>

                    <p style="font-size:12px;color: #969696">{{ browser.resource.meta.file_count }} {{ _('files') }}
                    </p>
                </div>
                <div class="hide_sidebar">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </div>
            </div>
        </li>
        <div class="information">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>Address</td>
                    <td>
                        {{ browser.resource.server.address }}
                    </td>
                </tr>
                <tr>
                    <td>Port</td>
                    <td>{{ browser.resource.port }}</td>
                </tr>
                <tr>
                    <td>Protocol</td>
                    <td>{{ browser.resource.protocol_human.upper() }}</td>
                </tr>
                <tr>
                    <td>Added</td>
                    <td>{{ browser.resource.date_added_ago }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <hr>

        <li>
            <a href="#">
                <i class="fa fa-info-circle">
                    <span>{{ _('Report Offline') }}</span>
                </i>
            </a>
        </li>
        <li>
            <a href="{{ url_for("search_home") }}">
                <i class="fa fa-search">
                    <span>{{ _('Search') }}</span>
                </i>
            </a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row" style="height:100%;">
            <div class="col-lg-12" style="padding-left:24px;">
                <div class="row no-padding">
                    {% if browser.path == "/" %}
                        <h3 class="title">/</h3>
                    {% else %}
                        <h3 class="title">{{ browser.breadcrumbs[breadcrumbs|length-2] }}</h3>
                        <ol class="breadcrumbs">
                            {% for i in range(0, browser.breadcrumbs | length) %}
                                {% set crumb = browser.breadcrumbs[i] %}
                                {% set href = ('../'*(browser.breadcrumbs | length - i-2))[:-1] %}

                                {% if i+2 == browser.breadcrumbs | length %}
                                    {% set active = True %}
                                {% else %}
                                    {% set active = False %}
                                {% endif %}

                                <li>
                                    <a class="{{"active" if active else "unactive"}}" href="{{href if not active else "."}}/">{{crumb}}</a>
                                </li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-12">
                {% if browser.files %}
                    {% import 'bucket/templates/main/_file_browser.html' as filebrowser %}
                    {{ filebrowser.render(browser.files) }}
                {% else %}
                    <div class="alert alert-info alert-xs" style="margin-top:20px;max-width:300px;padding: 8px;">
                        <i class="fa fa-bell-o">
                        <span style="margin-left:2px;">{{ _('no files') }}</span>
                        </i>
                    </div>
                {% endif %}
            </div>

            <div class="col-lg-12 browse_footer">
                <div class="row no-padding">
                    <div class="container">
                        <span>
                        {% if browser.file_distribution %}
                            {% for key, val in browser.file_distribution.items() %}
                                <span style="padding-right:4px;">
                                {{ key.capitalize() }}: <span style="color:#808080">{{ val }}%</span>
                                </span>
                            {% endfor %}
                        {% endif %}
                        </span>

                        <span class="pull-right">
                        View: <a href="#">raw</a> / <a href="#">json</a>
                        |
                        DL: <a href="#">lftp</a> / <a href="#">wget</a>
                        {% set dir = browser.resource.protocol_human + "://" + browser.resource.server.address + "/" + "/".join(browser.breadcrumbs[1:]) %}
{#                        wget --user=anonymous --password='anonymous' -r -nH -nd -np "{{dir}}"#}
{#                        lftp -u anonymous,anonymous -e 'mirror -c' "{{dir}}"#}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(".hide_sidebar").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $('.skillbar').each(function(){
            $(this).find('.skillbar-bar').css({
                width:$(this).attr('data-percent')
            });
        });
    });
</script>
{% endblock %}