{% extends "bucket/templates/base.html" %}
{% block content %}

<style>
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
}
</style>
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="header">
            <div class="cont">
                <div class="icon">
                    <img height="70px" src="{{ url_for("static", filename="img/default_thumbnail2.png") }}"/>
                </div>
                <div class="description">
                    <b style="color: #5D5D5D">{{ browser.resource.server.name }}</b>

                    <p style="font-size:12px;color: #969696">{{ browser.resource.meta.file_count }} {{ _('files') }}
                    <br>
                    id: {{ browser.resource.id }}
                    </p>
                </div>
                <div class="hide_sidebar">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </div>
            </div>
        </li>

        {% if browser.file_distribution %}
            <div class="file_distribution_container">
                <span id="header">{{ _('File distribution') }}</span>
                {% for key, val in browser.file_distribution.items() %}
                    <div class="skillbar clearfix " data-percent="{{ val }}%">
                        <div class="skillbar-title"><span>{{ key }}</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">{{ val }}%</div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <hr>

{#        <li>#}
{#            <a href="#">#}
{#                <i class="fa fa-info-circle">#}
{#                    <span>{{ _('Report Offline') }}</span>#}
{#                </i>#}
{#            </a>#}
{#        </li>#}
        <li>
            <a href="{{ url_for("search_home") }}">
                <i class="fa fa-info-circle">
                    <span>{{ _('Search') }}</span>
                </i>
            </a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" style="padding-left:24px;">

                <h3 style="padding-bottom: 0px;margin-bottom: 4px;">{{ browser.breadcrumbs[breadcrumbs|length-2] }}</h3>
                <ol class="breadcrumbs">
                    {% for i in range(0, browser.breadcrumbs | length) %}
                        {% set crumb = browser.breadcrumbs[i] %}
                        {% set href = ('../'*(browser.breadcrumbs | length - i-2))[:-1] %}

                        {% if i+2 == browser.breadcrumbs | length %}
                            {% set active = True %}
                        {% else %}
                            {% set active = False %}
                        {% endif %}

                        <li>
                            <a class="{{"active" if active else "unactive"}}" href="{{href if not active else "."}}/">{{crumb}}</a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
            <div class="col-lg-12">
                {% if browser.files %}
                    {% include 'bucket/templates/main/_file_browser.html' %}

                    <style>
                    .download_helpers{
                        padding-left: 0px;
                        padding-right: 0px;
                    }
                    .download_helpers .container{
                        width: 100%;
                        background: #f5f5f5;
                        text-align: center;
                        overflow:hidden;
                        border-top: 1px solid #ccc;
                        border-bottom: 1px solid #ccc;
                    }

                    .download_helpers .container .helper{
                        float:left;
                        width:50%;
                        color: #969696;
                        font-size: 12px;
                        font-family: monospace;
                        padding: 14px;
                    }
                    </style>

                    <div class="row download_helpers">
                        {% set dir = browser.resource.protocol_human + "://" + browser.resource.server.address + "/" + "/".join(browser.breadcrumbs[1:]) %}
                        <div class="container">
                            <div class="helper">
                                    wget --user=anonymous --password='anonymous' -r -nH -nd -np "{{dir}}"
                            </div>
                            <div class="helper">
                                    lftp -u anonymous,anonymous -e 'mirror -c' "{{dir}}"
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <br>
                        <div class="col-md-6 nopadding">

                        </div>
                        <div class="col-md-6 nopadding">

                            <span style="float:right;">
                                View as: <a href="#">raw</a> / <a href="#">json</a>
                            </span>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-info alert-xs" style="margin-top:20px;max-width:300px;padding: 8px;">
                        <i class="fa fa-bell-o">
                        <span style="margin-left:2px;">{{ _('no files') }}</span>
                        </i>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(".hide_sidebar").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $('.skillbar').each(function(){
            $(this).find('.skillbar-bar').css({
                width:$(this).attr('data-percent')
            });
        });
    });
</script>
{% endblock %}