{% extends "bucket/templates/base.html" %}
{% block content %}

<link href="{{ url_for("static", filename="themes/bucket/static/css/home.css") }}" rel="stylesheet">

<div id="test">

</div>

<div class="hero" style="background: url({{ url_for("static", filename="themes/bucket/static/img/bg_blue2.jpg") }});">
    <div class="max_width" style="padding-top:100px;">
        <div class="col-md-12 text-center">
            <span class="tagline">
                Looking for something?
            </span>

            <div class="search_container">
                <div class="arrow" style="background: url({{ url_for("static", filename="themes/bucket/static/img/arrowdown3.png") }});">

                </div>
                <div class="search">
                    <input id="search" class="form-control" type="text" placeholder="" autofocus>
                </div>
            </div>

            <div class="description">
                <div class="bracket" style="width:30px;">
                    {
                </div>
                <div style="width:260px;padding-top: 16px;">
                    <span>Findex is a high performance platform for finding and indexing files.</span>
                </div>
                <div class="bracket" style="width:30px;">
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="app_container">
    <p style="opacity:0;">
        Built on:

        <img class="app" style="margin-left:20px;" src="{{ url_for("static", filename="themes/bucket/static/img/logos/python.png") }}" height="35">
        <img class="app" src="{{ url_for("static", filename="themes/bucket/static/img/logos/flask.png") }}" height="42">
        <img class="app" src="{{ url_for("static", filename="themes/bucket/static/img/logos/rabbitmq.png") }}" height="28">
        <img class="app" src="{{ url_for("static", filename="themes/bucket/static/img/logos/psql.png") }}" height="42">
        <img class="app" src="{{ url_for("static", filename="themes/bucket/static/img/logos/zombodb.png") }}" height="52">
        <img class="app" style="margin-left:16px;" src="{{ url_for("static", filename="themes/bucket/static/img/logos/twisted.png") }}" height="50">
        <img class="app" src="{{ url_for("static", filename="themes/bucket/static/img/logos/sqla.png") }}" height="34">
        <img class="app" src="{{ url_for("static", filename="themes/bucket/static/img/logos/jinja2.png") }}" height="55">
        <img class="app" src="{{ url_for("static", filename="themes/bucket/static/img/logos/bootstrap.png") }}" height="50">
    </p>
</div>

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="news col-md-6">
                    <h3>News</h3>
                    {% if not posts %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                No news added yet!
                            </div>
                        </div>
                    {% endif %}
                    {% for post in posts %}
                        <div class="panel panel-default">
                            <div class="panel-heading">{{ post.title }}</div>
                            <div class="panel-body">
                                <p class="content">{{ post.content }}</p>
                                <ul class="list-inline list-unstyled pull-right">
                                    <li>
                                        <span><i class="fa fa-user-circle" aria-hidden="true"></i> <span style="font-size:12px;color:grey;">By {{ post.created_by.realname }}</span> </span>
                                    </li>
                                    <li>|</li>
                                    <li>
                                        <span><i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.ago }} </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="about col-md-6">
                    <h3>Stats</h3>
                    <div class="panel panel-default">
                        <div class="panel-heading">&nbsp;</div>
                        <div class="panel-body">
                            <p>
                                No stats yet!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function(){
        var ref = document.referrer;

        setTimeout(function(){
            $("div#hero_icon_row").animate({
                "opacity":1,
                "margin-top": "-=20"
            }, 600, "easeOutQuad");

            $("div.hero .description").animate({
                "opacity":1
            }, 800, "easeOutQuad");
        }, 100);

        setTimeout(function() {
            $(".app_container>p").animate({
               "opacity": 1
            }, 500);
        }, 200);

        $("#search").keyup(function (e) {
            if (e.keyCode == 13) {
                var val = $("#search").val();

                goto_uri(url_for(`search/${val}`));
            }
        });

        $(".hero_icon").hover(function(){
            $(this).css("padding-top", "+=6");
        }, function(){
            $(this).css("padding-top", "-=6");
        });

        particlesJS("test", {
          "particles": {
            "number": {
              "value": 80,
              "density": {
                "enable": true,
                "value_area": 800
              }
            },
            "color": {
              "value": "#FFFFFF"
            },
            "shape": {
              "type": "circle",
              "stroke": {
                "width": 0,
                "color": "black"
              },
              "polygon": {
                "nb_sides": 5
              },
              "image": {
                "src": "img/github.svg",
                "width": 100,
                "height": 100
              }
            },
            "opacity": {
              "value": 0.5,
              "random": false,
            },
            "size": {
              "value": 3,
              "random": true,
              "anim": {
                "enable": false,
                "speed": 20,
                "size_min": 0.1,
                "sync": false
              }
            },
             line_linked: {
               enable: 0, distance: 100, color: "#fff", opacity: 1, width: 1
            },
            "move": {
              "enable": true,
              "speed": 2,
              "direction": "none",
              "random": false,
              "straight": false,
              "out_mode": "out",
              "bounce": false,
              "attract": {
                "enable": false,
                "rotateX": 600,
                "rotateY": 1200
              }
            }
          },
          "retina_detect": true
        });

    });
</script>

<style>
    footer>#container{
      padding-top: 20px;
    }
</style>

<footer id="colophon" class="site-footer" role="contentinfo">
    <div id="container" style="width: 85%;min-height: 120px;">
        <div id="footer_copyright">
            <div id="site_branding">
                <a id="footer_logo" href="http://findex.cedsys.nl/" style="background-image: url('{{ url_for("static", filename="img/findex.png") }}');"></a>
                <a id="made_by" href="http://cedsys.nl/">CED systems</a>
                <div class="clear"></div>
            </div>

            <div id="copyright_widget_area">
                <p>
                    Copyright (C) 2017 <a href="https://nl.linkedin.com/in/sander-ferdinand-69075425">Sander Ferdinand</a><br>
                    MIT License. Read the <a id="terms" href="/terms">Terms of Use</a>
                </p>
            </div>
        </div>

        <div class="clear"></div>
    </div>
</footer>
{% endblock %}