{% extends "bucket/templates/base.html" %}

{% block content %}
    <div id="login-overlay" class="modal-dialog">
        <div class="row">
            <div class="col-xs-6">
                <p class="lead">Login</p>

                    <form method="POST" novalidate="novalidate">
                        <div class="form-group">
                            <label for="username" class="control-label">{{ _('Username') }}</label>
                            <input type="text" class="form-control" id="username" name="username" value=""
                                   required="" title="{{ _('Please enter you username') }}"
                                   placeholder="">
                            <span class="help-block"></span>
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label">{{ _('Password') }}</label>
                            <input type="password" class="form-control" id="password" name="password" value=""
                                   required="" title="{{ _('Please enter your password') }}">
                            <span class="help-block"></span>
                        </div>
                        {% if error %}
                            <p class=error style="padding-top:10px;padding-bottom:10px;">
                                <strong style="color:red;">Error:</strong> {{ error }}
                            </p>
                        {% endif %}

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="remember" id="remember"> {{ _('Remember login') }}
                            </label>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Login</button>
                        <a href="/forgot/" class="btn btn-default btn-block">Forgot password</a>
                    </form>

            </div>
            <div class="col-xs-6">
                <p class="lead">{{ _('Register an account') }}</p>
                <span>
                    {{ _('Sign up for additional functionality') }}:
                </span>

                <ul class="list-unstyled" style="line-height: 2;margin-top:6px;">
                    <li><span class="fa fa-check text-success"></span> {{ _('Add servers') }}</li>
                    <li><span class="fa fa-check text-success"></span> {{ _('Rate servers') }}</li>
                    <li><span class="fa fa-check text-success"></span> {{ _('And more') }}!</li>
                </ul>
                <li><a href="/register"><u>{{ _('Register') }}</u></a></li>

            </div>
        </div>
    </div>


{% endblock %}
