<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>App</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin"><i class="fa fa-circle-o"></i> Home</a></li>
                    <li><a href="/admin/appearance"><i class="fa fa-circle-o"></i> Appearance</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-th"></i>
                    <span>AMQP</span>
                    <span class="label label-primary pull-right">1</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/amqp"><i class="fa fa-circle-o"></i> Overview</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>Crawls</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/bot/list"><i class="fa fa-circle-o"></i> Bots</a></li>
                    <li><a href="/admin/bot/list"><i class="fa fa-circle-o"></i> Tasks</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i> <span>Servers</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/server/overview"><i class="fa fa-circle-o"></i>Overview</a></li>
                    <li><a href="/admin/server/add"><i class="fa fa-circle-o"></i>Add Server</a></li>
                    <li><a href="/admin/server/nmap/add"><i class="fa fa-circle-o"></i>Add Nmap Rule</a></li>
                </ul>
            </li>

            <li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>