<header class="main-header">
    <!-- Logo -->
    <a href="/admin" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>F</b>ad</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg" style="font-size:14px;"><b>Findex</b>ADMIN</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </nav>
</header>

<script>
    $(document).ready(function () {
        FindexGui.api("/admin/status/errors", "GET", null).then(function(result) {
            let errors = result.data.errors;
            let ok = result.data.ok;

            let html_status_buttons = `
            <span class="pull-right-container">
                <small class="label pull-right bg-red">${errors}</small>
                <small class="label pull-right bg-green">${ok}</small>
            </span>
            `;

            $('.sidebar-menu a#menu_status_overview').append(html_status_buttons);

        }).fail(function (result) {
            throw 'meh';
        });
    });
</script>