{% extends "base.html" %}
{% block content %}
<div style="height:70px;"></div>

<div class="container">
    <div class="row">
        <pre>You are about to be redirected to ftp://{{data['host']['address']}}

Are you sure you want to continue?</pre>
        <hr>
        <div class="btn-group">
            <button id="back" type="button" class="btn btn-primary btn-sm">No, go back</button>
            <a href="ftp://{{data['host']['address'] + data['file'].file_url}}">
                <button type="button" class="btn btn-success btn-sm">Yes, go to resource</button>
            </a>
        </div>
    </div>
</div>

<script>
$('#back').click(function(){
    historyBack();
});
</script>

{% endblock %}