{% extends "helpers/base_home.html" %}
{% block content %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<link rel="stylesheet" href="">
<div class="wrapper">
    <div style="height:80px;"></div>

</div>
<style>
    td{
        line-height:1;
    }
    .progress {
        margin-bottom: 0px;
    }
    thead>tr>th:first-child{
        width:16px;
    }
    thead>tr>th:nth-child(2){
        width:200px;
    }
    thead>tr>th:nth-child(3){
        width:160px;
    }
    thead>tr>th:nth-child(3){
        width:260px;
    }
    pre{
        font-size:12px;
    }
    #content>p>img{
        width: 80%;
        margin: 0 auto;
        display: block;
    }
</style>
<div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
        The documentation has not been written yet.
    </div>
    <!--/.row-->
</div><!--/.container-->
</div><!--/.page-container-->


{% endblock %}