{% extends "helpers/base_home.html" %}
{% block content %}
<style>
    .bg_container{
        background: transparent !important;
    }
    #home_cta_row>a>div.well{
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.10);
        border: 1px solid rgba(0, 0, 0, 0.22);
    }
</style>

<div class="hero_container">
    <div class="max_width">
        <div id="hero_tagline_row" class="row" style="padding-top:140px;">
            <div class="col-md-12 text-center">
                <span id="hero_tagline" class="hero_tagline">
                    Findex is an open-source search engine for files.
                </span>

                <div class="hero_search_container">
                    <div class="arrow">

                    </div>
                    <div class="hero_search">
                        <input id="search" class="form-control" type="text" placeholder="" autofocus>
                    </div>
                </div>
            </div>
        </div>

        <div id="hero_icon_row" class="row" style="padding-top:20px;">
            <div class="col-md-12 text-center">
                <a href="/research/" id="hero_icon" class="col-md-3 hero_icon">
                    <i class="fa fa-bar-chart"></i>
                    <span>
                        Findex can gather files from FTP, HTTP and SMB resources all over the world
                    </span>
                </a>
                <a href="/documentation/" id="hero_icon" class="col-md-3 hero_icon">
                    <i class="fa fa-cogs"></i>
                    <span>
                        Findex is fast and runs on (almost) any machine capable of running Linux.
                    </span>
                </a>
                <a href="/api" id="hero_icon" class="col-md-3 hero_icon">
                    <i class="fa fa-connectdevelop"></i>
                    <span>
                        Use the REST API to implement your own file searching tool
                    </span>
                </a>
                <a href="https://github.com/skftn/findex-gui/" id="hero_icon" class="col-md-3 hero_icon">
                    <img style="width:76px;" src="/static/img/github.png"/>
                    <span style="margin-top:14px;">
                        Clone/Fork Findex on GitHub. Contributions are more than welcome!
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="app_container">
    <p style="opacity:0;">
        Built on:
        <img class="app" style="margin-left:20px;" src="/static/img/logos/python.png" height="35">
        <img class="app" src="/static/img/logos/bottle.png" height="26">
        <img class="app" src="/static/img/logos/rabbitmq.png" height="30">
        <img class="app" src="/static/img/logos/psql.png" height="42">
        <img class="app" style="margin-left:16px;" src="/static/img/logos/twisted.png" height="50">
        <img class="app" src="/static/img/logos/sqla.png" height="30">
        <img class="app" src="/static/img/logos/jinja2.png" height="55">
        <img class="app" src="/static/img/logos/bootstrap.png" height="50">
        <img class="app" src="/static/img/logos/jquery.png" height="46">
        <img class="app" src="/static/img/logos/highcharts.png" height="35">
    </p>
</div>

<div class="home_container">
    <div class="max_width" style="width:970px;float:left;">
        <div class="row">
            <div class="col-md-12 text-center">
                <p id="description">

                    Findex is a high performance platform for finding and indexing files.
                    It tries to be fast, customizable and scaleable.
                    Findex is a multi-purpose search engine for alternative protocols.

                </p>
            </div>
        </div>
        <div id="home_cta_row" class="row" style="padding-top:30px;">
            <a href="/documentation/" class="col-lg-4">
                <div class="well">
                    <h4>Installation Guide</h4>
                    <p>Hosting your own instance is easy. All you need is a Linux box and a Postgres database.</p>
                </div>
            </a>
            <a href="/documentation/" class="col-lg-4">
                <div class="well">
                    <h4>Distributed Crawling</h4>
                    <p>Findex supports distributed crawling out of the box.</p>
                </div>
            </a>
            <a href="/research/" class="col-lg-4">
                <div class="well">
                    <h4>Research</h4>
                    <p>We scanned a country on port 21 and analyzed the data we found.</p>
                </div>
            </a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        var ref = document.referrer;
        if(endsWith(ref, '/login')){
            $('#warning').text('Login not valid.');
            $('#warning').fadeOut(2500);
        }

        setTimeout(function(){
            $('div#hero_icon_row').animate({
                'opacity':1,
                'margin-top': "-=20"
            }, 600, 'easeOutQuad');

            $('div#hero_tagline_row').animate({
                'opacity':1,
                'margin-top': "-=20"
            }, 600, 'easeOutQuad');
        }, 100);

        setTimeout(function() {
            $('.app_container>p').animate({
               'opacity': 1
            }, 500);
        }, 200);

        $("#search").keyup(function (e) {
            if (e.keyCode == 13) {
                var val = $('#search').val();

                goto_uri('search?key='+val);
            }
        });

        $(".hero_icon").hover(function(){
            $(this).css('padding-top', '+=6');
        }, function(){
            $(this).css('padding-top', '-=6');
        });
    });
</script>

{% include "helpers/footer.html" %}
{% endblock %}