{% extends "_admin/templates/helpers/base.html" %}
{% block content %}
    <style>
        .well {
            background: #FBFBFB;
            border: 1px solid #ddd;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-radius: 2px;
        }

        .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
            border-bottom-color: #ddd;
            outline: 0;
        }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
            color: #555;
            cursor: default;
            background-color: #FBFBFB;
        }

        .nav > li > a {
            position: relative;
            display: block;
            padding: 2px 10px;
        }

        .tab-content {
            background-color: #FBFBFB;
            border-right: 1px solid #ddd;
            border-left: 1px solid #ddd;
            border-radius: 2px;
        }
    </style>
    <style>
        #content.help{
            padding-right: 30px;
            padding-left: 30px;
        }

        #content.help>.col{
            padding-left: 24px;
            padding-right: 24px;
            min-height:100px;

            border-bottom: 1px solid rgb(224, 224, 224);
        }

        #content.help>.col:nth-child(1) {
            border-right: 1px solid #ddd;
        }

        #content.help>.col:nth-child(2) {
            border-right: 1px solid #ddd;
        }
    </style>

    <div id="content" class="col-md-12 help">
        <div class="col col-md-4">
            <h2>Step 1</h2>
            <p>
                Pick a name for this task.
            </p>
        </div>
        <div class="col col-md-4">
            <h2>Step 2</h2>
            <p>
                Add host(s).
            </p>
        </div>
        <div class="col col-md-4">
            <h2>Step 3</h2>
            <p>
                Configure resource options.
            </p>
        </div>
    </div>

    <div id="content" class="col-md-12" style="margin-top: 10px;padding-top: 30px;">
        <div class="col col-md-4">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1">Task Options</a></li>
                </ul>

                <div style="padding-bottom: 9px; border-bottom: 1px solid #ddd;" class="tab-content">
                    <div id="tab1" class="tab-pane active" aria-expanded="true">
                        <div style="padding:20px;">
                            <form>
                                <fieldset>

                                    <!-- Text input http://getbootstrap.com/css/#forms -->
                                    <div class="form-group">
                                        <label for="task_name" class="control-label">Task Name</label>

                                        <input type="text" class="form-control" id="task_name"
                                               placeholder="just a name..." required="">


                                    </div>
                                    <!-- Textarea http://getbootstrap.com/css/#textarea -->
                                    <div class="form-group">
                                        <label class="control-label" for="task_desc">Task Description</label>

                                        <textarea class="form-control" id="task_desc" name="task_desc"
                                                  rows="5"></textarea>


                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-md-4">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class=""><a data-toggle="tab" href="#tab3">Single</a></li>
                    <li class=""><a data-toggle="tab" href="#tab4">Multiple</a></li>
                    <li class=""><a data-toggle="tab" href="#tab5">Range</a></li>
                    <li class=""><a data-toggle="tab" href="#tab6">AS block</a></li>
                </ul>

                <div style="padding-bottom: 9px; border-bottom: 1px solid #ddd;" class="tab-content">
                    <div id="tab3" class="tab-pane">
                        <div style="padding:20px;">
                            <form>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label" for="task_protocol">Protocol</label>

                                        <div class="controls text-left">
                                            <div class="btn-group selectlist" data-initialize="selectlist"
                                                 data-resize="auto" id="task_protocol">

                                                <select id="task_protocol" name="task_protocol" class="form-control">
                                                    <option value="4">HTTP</option>
                                                    <option value="5">HTTPs</option>
                                                    <option value="0">FTP</option>
                                                    <option value="1">Filesystem</option>
                                                </select>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="task_target" class="control-label">Target</label>

                                        <input type="text" class="form-control" id="task_target"
                                               placeholder="subdomain.domain.com/path" required="">
                                    </div>

                                    <div class="form-group">
                                        <label for="target_port" class="control-label">Target Port</label>

                                        <input type="number" class="form-control" id="target_port"
                                               placeholder="Number" style="width: 100px;">

                                    </div>

                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div id="tab4" class="tab-pane">
                        <p>Howdy, I'm in Section 2.</p>
                    </div>
                    <div id="tab5" class="tab-pane">
                        <p>What up girl, this is Section 3.</p>
                    </div>
                    <div id="tab6" class="tab-pane">
                        <p>What up girljhjj, this is Section 3.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="col col-md-4">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab7">Auth</a></li>
                </ul>

                <div style="padding-bottom: 9px; border-bottom: 1px solid #ddd;" class="tab-content">
                    <div id="tab7" class="tab-pane active" aria-expanded="true">
                        <div style="padding:20px;">
                            <form>
                                <fieldset>

                                    <div class="form-group">
                                        <label for="target_auth_user" class="control-label">Auth username</label>

                                        <input type="text" class="form-control" id="target_auth_user"
                                               placeholder="Username">


                                    </div>

                                    <div class="form-group">
                                        <label for="target_auth_pass" class="control-label">Auth password</label>

                                        <input type="text" class="form-control" id="target_auth_pass"
                                               placeholder="Password">


                                    </div>

                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="col-md-12 help" style="margin-top:30px;">
        <div class="col col-md-4">
            <h2>Step 4</h2>
            <p>
                Pick the delivery method.
            </p>
        </div>
        <div class="col col-md-4">
            <h2>Step 5</h2>
            <p>
                Configure the interval at which the task runs.
            </p>
        </div>
        <div class="col col-md-4">
            <h2>Step 6</h2>
            <p>
                Submit task!
            </p>
        </div>
    </div>

    <div id="content" class="col-md-12" style="margin-top: 10px;padding-top: 30px;">
        <div class="col col-md-4">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab8">Delivery</a></li>
                </ul>

                <div style="padding-bottom: 9px; border-bottom: 1px solid #ddd;" class="tab-content">
                    <div id="tab8" class="tab-pane active" aria-expanded="true">
                        <div style="padding:20px;">
                            <form>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label" for="task_protocol">Delivery</label>

                                        <div class="controls text-left">
                                            <div class="btn-group selectlist" data-initialize="selectlist"
                                                 data-resize="auto" id="task_delivery">

                                                <select id="task_delivery" name="task_delivery" class="form-control">

                                                </select>

                                            </div>

                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col col-md-4">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab8">Delivery</a></li>
                </ul>

                <div style="padding-bottom: 9px; border-bottom: 1px solid #ddd;" class="tab-content">
                    <div id="tab8" class="tab-pane active" aria-expanded="true">
                        <div style="padding:20px;">
                            <form>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label" for="task_protocol">Delivery</label>

                                        <div class="controls text-left">
                                            <div class="btn-group selectlist" data-initialize="selectlist"
                                                 data-resize="auto" id="task_delivery">

                                                <select id="task_delivery" name="task_delivery" class="form-control">

                                                </select>

                                            </div>

                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <button id="submit_task" name="submit_task" class="btn btn-primary">Submit</button>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            setTimeout(function () {
                $('a[href="#tab1"]').tab('show');
                $('a[href="#tab3"]').tab('show');
                $('a[href="#tab7"]').tab('show');
            }, 50);

            $('#submit_task').click(submit);

            function submit() {
                var task_name = $('input#task_name').val();
                var task_desc = $('textarea#task_desc').val();

                var protocol = parseInt($("select#task_protocol option:selected").attr('value'));

                var task_target = $('input#task_target').val();
                var task_port = $('textarea#task_port').val();
            }

            function callback(data){
                data = data['amqp/list'];
                data = data[0];

                $('select#task_delivery').append('<option value='+data['host']+data['port']+'>'+'amqp://'+data['host']+':'+data['port']+'</option>');
            }

            $.getJSON( "/api/amqp/list", callback);

        });
    </script>
{% endblock %}